/**
 * Big News
 * Note: we need something for labels "outside the grid" but
 * need to "line up with the grid".
 */

section.big-news {
  padding: 0;
}

.big-news .label {
  display: block;
  padding: var(--space) var(--space) 0;
}

.big-news .label::after {
  content: '';
  border-bottom: 1px solid var(--lightgray);
  width: 100%;
  display: block;
  padding-top: var(--space);
}

.big-news .label .h5 {
  color: var(--red);
  font-size: 1.33rem;
  margin: 0;
}

/* better handled by removing the impact class in WPS */
.big-news .label .impact {
  color: inherit;
  background-color: transparent;
}

.big-news .latest {
  font: bold 20px / 1em var(--sans);
  margin: 0;
  padding: var(--space);
}

.big-news .h1 {
  font: 700 2rem/1.2em var(--sans);
  padding: var(--space);
}

@media (max-width: 599px) {
  .big-news .h1::before {
    content: '';
    border-top: 1px solid var(--lightgray);
    width: 100%;
    display: block;
    padding-top: var(--space);
  }
}

@media (min-width: 1140px) {
  .big-news .h1 {
    font-size: 2.67rem;
  }

  .big-news .label .h5 {
    font-size: 1.33rem;
    margin: 0;
  }

  .big-news figcaption {
    font: 0.78rem var(--sans);
  }
}

.big-news .grid {
  --grid-row-gap: var(--space);
}

.big-news figcaption,
.big-news .grid:not(.featured) {
  padding: 0 var(--space);
}

.big-news .grid:not(.featured) .package,
.big-news .featured .package {
  padding: 0;
}

.big-news .featured {
  padding: var(--space);
  --card-padding: 0;
  --paper-shadow: none;
}

@media (min-width: 660px) {
  .big-news .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 599px) {
  .big-news .featured {
    --grid-row-gap: 25px;
    --card-gap: 10px;
  }
}
