/**
 * Gallery card
 */

.gallery {
  align-items: unset;
  font-family: var(--sans);
  color: var(--secondary-text-color);
  padding: 0;
  --header-color: var(--text-color);
}

.gallery .package {
  --header-family: var(--sans);
}

.gallery-panel {
  position: relative;
  padding-top: 56.25%;
  background-color: #ddd;
}

.gallery-current {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery-marker {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
}

.gallery-marker svg {
  width: 42px;
  height: 42px;
  transform: none;
}

.gallery-count {
  margin-left: 10px;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  font-size: large;
  color: white;
}

.gallery-button {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.gallery-button svg {
  fill: white;
  background-color: #373737;
  height: 15px;
  width: 15px;
  padding: 10px;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  justify-content: flex-end;
  right: 0;
}

.gallery .package figcaption {
  padding: 0;
}
