/*
 * Section grid
 */

.grid {
  display: grid;
  grid-template-columns: var(--columns);
  gap: var(--grid-row-gap) var(--grid-column-gap);
  grid-auto-flow: var(--grid-flow, dense);
}

.grid > .package:not(.no-img) {
  --package-padding: 0px;
}

@media(max-width: 600px) {
  .grid {
    --grid-row-gap: 2px;
  }
}

.grid .lead-item .summary {
  font-size: 0.89rem;
}

/*
 * Utilities 
 */

.grid .two-rows {
  grid-row: span 2;
}

@media(min-width: 660px) {
  .grid .two-columns {
    grid-column: span 2;
  }

  .grid .three-columns,
  .grid .full-width {
    grid-column: 1/-1;
  }
}

/*
 * Individual card treatments
 */

@media(min-width: 660px) {
  .grid .lead-item {
    grid-column-end: span 2;
    grid-row: span 2;
  }

  .grid .digest {
    align-self: stretch;
    grid-column: 1;
    grid-row-end: span 2;
  }

  .grid .in-depth {
    grid-column: 1/-1;
  }

  .grid .optional-digest {
    grid-row-start: 8;
  }
}

@media(min-width: 990px) {
  .grid .optional-digest {
    grid-row-start: 6;
  }
}

/*
 * Load more button
 */

.load-more {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}

/*
 * Custom grid arrangements
 */

[class*=digest-group] {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: var(--columns);
  grid-gap: var(--grid-row-gap) var(--grid-column-gap);
  margin: 0;
  padding: 0;
}

@media(max-width: 599px) {
  [class*=digest-group] {
    background-color: var(--paper-color);
  }
}

[class*=digest-group] .digest {
  grid-column: auto;
}

/*
 * Padding for video gallery on mobile
 */

@media(max-width: 600px) {
  #media-gallery-video-gallery .wps-player-wrap {
    padding: 0 var(--space);
  }
}

/*
 * Regions are invisible wrappers for Taboola 
 * dynamic injection, same as custom-cards
 */

.region, custom-card {
  display: contents;
}

/*
 * Options banner is at the top of all grids
 */

.option-banners {
  grid-column: 1/-1;
}
