/**
 * Immersive media card
 * Note: This needs to be removed from the system
 */

.immersive {
  margin-top: 0;
}

.immersive .media {
	display: flex;
  background-position: center;
  background-size: cover;
  height: 85vh;
}

.immersive .content {
  background: rgba(0,0,0,.5);
	flex: 1;
	display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
	padding-bottom: 30px;
  --button-background-color: transparent;
}

.immersive .content > * {
  max-width: 920px;
  margin: 15px auto;
	padding: 0 15px;
}

.immersive .content button {
  border: none;
  padding: 0;
	height: 60px;
	width: 60px;
  background-color: transparent;
}

.immersive .title {
	font: 700 2.5em/1.1em var(--serif);
	text-transform: none;
  color: white;
  --link-color: white;
  --link-hover-color: white;
  --link-decoration: none;
  --link-hover-decoration: underline;
}

.immersive .kicker {
  --link-color: white;
  --link-hover-color: white;
  --link-decoration: none;
}

@media (min-width: 760px) {
	.immersive .title {
		font-size: 64px;
	}
}

.immersive-summary {
  font-size: larger;
}

.immersive figcaption {
  padding: 10px 15px 0;
}

.story-body > .immersive {
  max-width: 100%;
  margin-top: 0;
  padding: 0;
}

