/**
 * In Depth card
 */

.in-depth .package {
  --h1: 1.75rem;
  --h3: 1.75rem;
  --header-weight: bold;
}

.in-depth figure {
	min-height: 400px;
}

.in-depth .image-link-macro {
  position: initial;
}

.in-depth time,
.in-depth .time {
  flex: none;
}
