/**
 * In Depth card
 */

.in-depth .package {
  --h1: 1.75rem;
  --h3: 1.75rem;
  --header-weight: bold;
}

.in-depth figure {
  grid-template-rows: max-content;
  align-self: stretch;
}

.in-depth .label {
	padding-bottom: var(--space-sm);
}

.in-depth .image-link-macro {
  position: initial;
	min-height: 400px;
}

.in-depth.card.horizontal figure img {
  position: relative;
}

.in-depth time,
.in-depth .time {
  flex: none;
}
