/**
 * Menu
 */

.main-nav {
  z-index: 20;
  position: fixed;
  top: 82px;
  left: 0;
  bottom: 0;
  width: 390px;
  height: calc(100% - 82px);
  --text-color: var(--black);
  --link-color: var(--text-color);
  background-color: var(--nav-color, var(--white));
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-150%);
  transition: transform .4s ease;
  --package-gap: 0;
}

.main-nav:hover :focus {
  outline: none;
}

.main-nav.open {
  transform: translateX(0);
}

.main-nav > * {
  padding: var(--space-sm) var(--space);
}

.main-nav svg {
  height: 20px;
  --fill-color: var(--text-color);
}

.main-nav button,
.main-nav a,
.main-nav .search,
.main-nav .option-label {
  width: 100%;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}


.main-nav button {
  padding: 0;
}

.main-nav a,
.main-nav .option-label {
  display: flex;
  gap: var(--space-sm);
}

.main-nav hr {
  border: .5px solid var(--nav-text-color, var(--gray));
}

.main-nav .h6 {
  font-weight: bold;
}

.main-nav .expander {
  align-self: stretch;
  justify-content: space-between;
  text-align: left;
}

.main-nav .option-label {
  border-color: var(--nav-text-color, var(--white));
}

.main-nav .search {
  margin-top: var(--space-sm);
  height: 58px;
}

.main-nav .search form {
  border-bottom: 1px solid var(--nav-text-color, var(--white));
  width: 100%;
}

.main-nav .search form svg {
  height: 12px;
}

.main-nav .search input {
  background-color: var(--gray);
  border: none;
  color: var(--nav-text-color, var(--text-color));
  margin: 0;
  flex: 1;
}

.main-nav .search ::placeholder {
  font-size: 13.5px;
  color: var(--nav-section-text-color, var(--text-color));
}

.main-nav .search button {
  position: absolute;
  right: 30px;
  width: auto;
}

.main-nav .search button:hover {
  background-color: unset;
}

@media(max-width: 767px) {
  .main-nav {
    width: 100%;
  }
}