/* Menu */
.main-nav {
  position: fixed;
  top: var(--flag-height);
  left: 0;
  bottom: 0;
  width: var(--menu-width);
  height: calc(100vh - var(--flag-height));
  color: var(--black);
  --text-color: var(--black);
  --link-color: var(--black);
  --fill-color: var(--black);
  background-color: var(--nav-color, var(--white));
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-150%);
  transition: transform 0.4s ease;
  z-index: 99;
}

.main-nav:hover :focus {
  outline: none;
}

.main-nav.summary,
.main-nav .summary {
  font-size: 0.75rem;
}

.main-nav.open {
  transform: translateX(0);
}

.main-nav > *,
.main-nav .subsection > * {
  padding: var(--space-sm) var(--space);
}

.main-nav svg {
  height: 20px;
}

.main-nav button,
.main-nav a,
.main-nav .search,
.main-nav .option-label,
.main-nav .subsection a,
.main-nav .option-label {
  width: 100%;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
}

.main-nav .subsection {
  padding: 0;
}

.main-nav .subsection-menu {
  background-color: var(--gray);
}

.main-nav .subsection-menu a {
  font-weight: normal;
}

.main-nav .option-label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
}

.main-nav a {
  display: flex;
  gap: var(--space-sm);
  font-weight: bold;
}

.main-nav hr {
  border: 1px solid var(--nav-text-color, var(--gray));
  margin: var(--space-sm) var(--space);
  padding: 0;
}

.main-nav .expander {
  align-self: stretch;
  justify-content: space-between;
  text-align: left;
  font-weight: bold;
}

.main-nav .search {
  margin-top: var(--space-sm);
}

.main-nav .search form {
  border-bottom: 1px solid var(--nav-text-color, var(--white));
  width: 100%;
}

.main-nav .search form svg {
  height: 12px;
}

.main-nav .search input {
  background-color: var(--gray);
  border: none;
  color: var(--nav-text-color, var(--text-color));
  margin: 0;
  flex: 1;
}

.main-nav .search ::placeholder {
  font-size: 13.5px;
  color: var(--nav-section-text-color, var(--text-color));
}

.main-nav .search button {
  position: absolute;
  right: 30px;
  width: auto;
}

.main-nav .search button:hover {
  background-color: unset;
}

.main-nav .h5 {
  color: #4B5972;
}

.main-nav .h6 {
  font-weight: bold;
}

.main-nav img {
  background-color: var(--gray);
  padding: var(--space-sm);
}

/* Purple Tuesday for flag transition */
#closenavigation path {
  fill: var(--text-color);
}

#searchTitle {
  display: none;
}
