/**
 * Panel
 */

.panel {
  padding: 45px var(--page-padding);
  max-width: 100%;
  background-color: var(--paper-color);
  color: var(--tc);
  font-family: var(--sans);
  --hf: var(--sans);
  --hw: bold;
  --ht: uppercase;
  --tf: var(--sans);
}

.panel.impact {
  --paper-color: #373737;
}

.panel > * {
  max-width: var(--story-width);
  margin: 20px auto;
  color: var(--tc);
}

.panel > img {
  display: block;
}

.panel .grid {
  grid-gap: 15px;
}
