/**
 * Premium topper
 */

.topper {
  display: none;
  position: relative;
  background-color: var(--premium-bc);
  color: var(--premium-tc);
  padding: var(--gap) var(--page-padding);
  font: 1rem/1.5em var(--sans);
  --tc: white;
  --lc: white;
  --ld: underline;
  --lhc: var(--premium-impact);
}

.msb .topper:not(.loaded) {
  min-height: 100vh;
}

.msb .topper > * {
  opacity: 0;
}

.msb .topper {
  display: block;
}

.msb .topper.loaded::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(50px + 8vw);
  background-color: var(--premium-bc);
}

/**
 * Light DOM styles for the portal
 */

.msb .topper h3 {
  --hs: 13px;
  --hf: var(--sans);
  --hc: var(--premium-impact);
  --ht: uppercase;
}

.msb .topper [slot="headline"] {
  --hs: 8vw;
  --hw: normal;
  --hl: 1.1em;
  --hf: var(--premium-serif);
  --hc: var(--premium-tc);
  --ht: none;
  margin: 0;
}

@media(min-width: 768px) {
  .msb .topper [slot="headline"] {
    --hs: 54px;
  }
}

.msb .topper li {
  padding-left: 1em;
}

.msb .topper ul li::marker {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CiAgPGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjYiIGZpbGw9IndoaXRlIi8+CiAgPGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjQiIGZpbGw9IiNlMjQ4NDgiLz4KPC9zdmc+Cg==");
  border: 2px solid var(--premium-tc);
}

.msb .topper ol li::marker {
  color: var(--premium-impact);
  font-size: .85em;
  font-weight: bold;
}

/**
 * Light DOM styles for the video embeds
 */

.embed-video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: #222;
}

.embed-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
