/**
 * Promo banner beneath nav for default rules and 
 * demo purposes only. Banner is styled by Performance 
 * team, as there are various banners throughout the year.
 */

#promo-banner {
    --row-gap: var(--space);
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    height: 35px;
}

#promo-banner h3 {
    font-size: 19px;
    font-weight: normal;
}

#promo-banner .button {
    width: 88px;
    height: 26px;
    font-size: 12px;
    --button-background-color: var(--white);
    --button-color: var(--black);
    --button-hover-color: var(--button-color);
    padding: 5px 10px;
}

@media(max-width: 659px) {

    #promo-banner h3 {
        font-size: 16px;
    }

    #promo-banner .button {
        display: none;
    }
}