.sponsor {
  display: grid;
  grid-template-columns: 75px minmax(0, 1fr);
  gap: var(--grid-row-gap) var(--grid-column-gap);
}

.sponsor img {
  display: block;
  width: 100%;
}

.sponsor .package {
  justify-content: center;
  font: 0.875rem var(--sans);
}
