/**
 * Story body
 */

.story-body {
  display: flow-root;
  color: var(--text-color);
  font: 18px/1.5em var(--serif);
  --header-family: var(--sans);
  --header-transform: uppercase;
  --link-color: #5169B8;
  --link-hover-color: #31409F;
  --link-decoration: underline;
}

.story-body > * {
  max-width: var(--story-width);
  padding: 0 var(--page-padding);
  margin: 20px auto;
}

.story-body > .header {
  margin: 40px auto;
}

/**
 * Embeds
 */

.story-body .embed-infographic {
  margin: 30px auto;
  clear: both;
}

.embed-infographic > * {
  max-width: 100%;
}

.story-body > .story-module {
  margin: 30px auto;
}

/**
 * Media options
 */

.story-body > figure,
.story-body > .figure,
.story-body > .inline-video {
  margin: 30px auto;
  padding: 0;
}

.story-body .wide {
  max-width: 970px;
}

.story-body .full-bleed {
  max-width: 100%;
  padding: 0;
}

.story-body > .full-bleed:first-child {
  margin-top: 0;
}

.story-body figure,
.story-body .figure {
  --stack-gap: 10px;
}

.story-body figure .package,
.story-body .figure .package {
  padding: 0px;
}

@media(max-width: 768px) {
  .story-body > figure,
  .story-body > .figure {
    max-width: 100%;
  }

  .story-body figcaption,
  .story-body figure .package,
  .story-body .figure .package {
    padding: 0px 15px;
  }
}

@media(max-width: 990px) {
  .story-body .wide figcaption,
  .story-body figure.wide .package,
  .story-body .figure.wide .package {
    padding: 0px 15px;
  }
}

.story-body .full-bleed figcaption,
.story-body figure.full-bleed .package,
.story-body .figure.full-bleed .package {
  padding: 0px 15px;
}

/**
 * Asides
 */

.story-body aside > * {
  margin: 30px auto;
}

@media(min-width: 930px) {
  .story-body aside > * {
    float: right;
    margin: 0 -150px 30px 30px;
  }

  .story-body aside.left > * {
    float: left;
    margin: 0 30px 30px -150px;
  }
}

/**
 * Mugshots
 */

.story-body .mugshot {
  padding: 0 15px;
}

.story-body .mugshot .img-container {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-gap: 15px;
}

.story-body .mugshot figcaption {
  padding: 0;
  align-self: end;
}

/**
 * Immersive card 
 */

.story-body > .immersive {
  max-width: 100%;
  padding-top: 0;
  margin-top: 0
}

/**
 * Panel settings for story bodies
 */

.story-body .panel {
  --paper-color: var(--body-background);
}
