.sub-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm, 10px);
    margin: 0 auto;
    color: var(--blue, #00223e);
    font: bold 13px/1em var(--sans);
}

.sub-feature:before,
.sub-feature:after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: var(--sub-blue, #00223e);
}