/**
 * SWG Promo card
 */

.card.swg-promo .package {
  --hw: 400;
  --hf: var(--sans);
}

.card.swg-promo .promo {
  background-color: var(--promo);
  color: white;
  justify-content: center;
}

.card.swg-promo .title {
  --hw: bold;
  font-size: 48px;
}

.card.swg-promo .summary {
  font-size: medium;
}

@media( min-width: 660px ) {
  .card.swg-promo {
    grid-template-columns: 2fr 1fr;
  }

  .card.swg-promo > :first-child {
    min-height: 200px;
  }
}
