/**
 * Timeline
 */

.timeline-event {
	border-left: 1px solid var(--timeline-border-color, var(--secondary-text-color));
	max-width: var(--timeline-max-width, 500px);
	position: relative;
	--header-family: var(--sans);
	--header-weight: 600;
	--header-transform: uppercase;
}

.timeline-event:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-9.5px, 12px);
	width: 18px;
	height: 18px;
	box-sizing: border-box;
	background-color: var(--timeline-border-color, var(--secondary-text-color));
	border: 4px solid var(--timeline-border-color, var(--secondary-text-color));
	border-radius: 50%;
}

