/**
 * Transparency
 */

.transparency > * {
 	margin: 0;
	padding: var(--space);
	max-width: var(--story-width);
	background-color: var(--background-color);
}

.transparency .expander {
	justify-content: space-between;
}

.question {
	--header-family: var(--serif);
	--header-weight: 400;
	--header-transform: none;
}

.question h3 {
	margin: 0;
}
