.upper-nav {
  position: relative;
  z-index: 11;
  display: flex;
  background-color: var(--body-background);
  height: 44px;
}

.upper-nav .tab {
  padding: 10px var(--page-padding);
  box-sizing: border-box;
  max-width: 50vw;
}

.upper-nav .tab img {
  display: block;
  height: 15px;
  max-width: 100%;
  width: auto;
}

.upper-nav .tab.active {
  border-right: 1px solid #ddd;
  background-color: white;
}

.upper-nav .tab.active:not(:first-child) {
  border-left: 1px solid #ddd;
}

/**
 * New favicon option
 */

.upper-nav .tab .favicon {
  max-width: unset;
  width: 24px;
  height: 24px;
}

.upper-nav .tab .logo {
  display: none;
}

@media (min-width: 768px) {
  .upper-nav {
    height: 35px;
  }

  .upper-nav .tab .favicon {
    display: none;
  }

  .upper-nav .tab .logo {
    display: block;
  }
}
