/**
 * Zones
 */

.zone {
  clear: both;
}

.zone.grid {
  grid-template-columns: minmax(0, 1fr);
}

.zone.grid.combo {
  align-items: center;
  /* justify-content: center; */
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

/**
 * Custom changes
 */

#zone-el-2 {
  margin: 15px 0;
}
