/**
 * Zones
 */

.zone {
  display: grid;
  clear: both;
  background-color: var(--ad-background);
}

.zone.combo {
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  background-color: var(--ad-background);
  --gap: 0;
}

.zone:empty {
  display: none;
}

/**
 * Zone treatment inside grids
 */

.grid .zone {
  grid-column-end: -1; 
  background-color: var(--ad-background);
}

/*
 * Zones inside story bodies
 */

.story-body > .zone {
  padding: 0;
  box-sizing: border-box;
}

/**
 * Custom changes
 */

#zone-el-2 {
  position: relative;
  background-color: var(--black);
  padding: 15px 0;
}

#zeus_top-banner {
  padding: 15px 0;
}
