/**
 * Zones
 */

.zone {
  clear: both;
}

.zone.grid {
  grid-template-columns: minmax(0, 1fr);
}

.zone.grid.combo {
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

/**
 * Zone treatment for section grids
 */

.section.grid .zone {
  grid-column-end: -1; 
  background-color: var(--ad-background);
  padding: var(--half-gap);
}

/**
 * Custom changes
 */

#zone-el-2 {
  position: relative;
  background-color: var(--black);
}

#zeus_top-banner {
  padding: 15px 0;
}
