/**
 * Reverse impact and promo
 */

.impact,
.promo,
.promo-light,
.disabled,
[disabled] {
  background-color: var(--paper-color, #373737);
  color: white;
  fill: white;
  --tc: white;
  --lc: white;
  --lhc: white;
  --bc: white;
}

.impact * {
  --bc: #222;
  --bbc: white;
}

.promo {
  --paper-color: #31409F;
}

.promo * {
  --bc: #31409F;
  --bbc: white;
}

.disabled, [disabled] {
  --paper-color: #989898;
  cursor: initial;
}

.disabled * {
  --bc: #989898;
  --bbc: white;
}

.promo-light {
  --paper-color: #5169B8;
}

.promo-light * {
  --bc: #5169B8;
  --bbc: white;
}
