/**
 * Utilities 
 */

.block {
  display: block;
}

summary, .summary {
  font-size: 0.875rem;
  font-family: var(--sans);
}

.small {
  font-size: small;
}

.caps {
  text-transform: uppercase;
  --ht: uppercase;
}

.no-caps,
.button.no-caps {
  text-transform: none;
  --ht: none;
}

.sans {
  font-family: var(--sans);
  --hf: var(--sans);
}

.serif {
  font-family: var(--serif);
  --hf: var(--serif);
}

.soft {
  font-weight: 400;
  --hw: 400;
}

.bold {
  font-weight: 700;
  --hw: 700;
}

.gray {
  color: var(--tc, #707070);
  --bc: var(--tc, #707070);
}

.dark {
  color: var(--tc, #222);
  --lc: #222;
}

.blue {
  color: var(--tc, #31409F);
  --lc: #31409f;
  --lhc: #5169B8;
}

.error, .errorText {
  color: var(--tc, #D63031);
}

.underline {
  text-decoration: underline;
}

.no-shadow {
  box-shadow: none;
}

.inline {
  display: inline;
}

.relative {
  position: relative;
}

.cutout {
  background-color: #f4f4f4;
}

.center-text {
  text-align: center;
  --pa: center;
}

.faded {
  opacity: 0;
}
