.story-body, .story-body ~ * {
  display: none;
}

.trinity-player-iframe-wrapper {
  min-height: unset !important;
}

.bottom-nav {
  margin-bottom: 0 !important;
}

.spl {
  --bc: white;
  --bbc: #222;
}

.spl .card .dsp-offer {
  flex: 1;
  grid-template-rows: 1fr auto auto;
  --ts: 1rem;
}

.spl .card .dsp-offer .h1 {
  display: flex;
  align-items: center;
}

.spl .card .dsp-offer .package {
  justify-content: center;
}

.spl .card .dsp-offer .price {
  --ts: 25px;
}

.spl .paywall-offer {
  align-self: unset;
  grid-template-columns: unset;
  --ts: 1rem;
}

.spl .best-offer {
  --bbc: #31409F;
}

.strike {
  text-decoration: line-through;
}
