.story-body, .story-body ~ * {
  display: none;
}

.trinity-player-iframe-wrapper {
  min-height: unset !important;
}

.bottom-nav {
  margin-bottom: 0 !important;
}

.spl {
  --bc: white;
  --bbc: #222;
}

.best-offer {
    --bbc: #31409F;
}

.offer-top {
  background-color: #f4f4f4;
}

.dsp-offer {
  --ts: 1rem;
}

.dsp-offer .h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media(min-width: 660px) {
  .dsp-offer .h1 {
    min-height: 2.4em;
  }
}

.dsp-offer small {
  font: 700 0.875rem var(--sans);
}

.dsp-offer .price {
  --ts: 25px;
}

.offer-details {
  text-align: left;
  flex: 1;
  --ts: 1rem;
}

.offer-details > * {
  margin: var(--ps, 10px) 0 0 0;
}

.offer-details > :first-child {
  margin-top: 0;
}

.offer-details ul {
  --tc: #707070;
}

.offer-details li {
  margin-left: 1em;
  list-style-position: outside;
}

.strike {
  text-decoration: line-through;
}
