/**
 * Home guide theme file
 */

:root {
  --body-background: #fff;
  --paper-shadow: none;
  --page-padding: 30px;
}

section.grid {
  max-width: var(--story-width);
  padding: var(--page-padding);
}

article.card:nth-of-type(n+2) {
  box-shadow: 0 -2px 2px -2px var(--gray);
  padding-top: var(--gap);
}

article.card .package {
  padding: calc(var(--gap) / 2) 0 0;
}

.kicker {
  border: none;
  padding: 0;
  font: bold .9rem/1em var(--sans);
  color: var(--gray);
  text-transform: uppercase;
}
