{{ define "content" }}
  <div class="story-body paper">
    <h2>{{ .Title }}</h2>
    {{ .Content }}
  </div>

  <div class="rail">
    <div class="decks">
      <div class="label">
        <h5>DECKS</h5>
      </div>
      {{ partial "menu-items" .Site.Menus.decks }}
    </div>

    <div class="cards">
      <div class="label">
        <h5>CARDS</h5>
      </div>
      {{ partial "menu-items" .Site.Menus.cards }}
    </div>

    <div class="molecules">
      <div class="label">
        <h5>MOLECULES</h5>
      </div>
      {{ partial "menu-items" .Site.Menus.molecule }}
    </div>

    <div class="atoms">
      <div class="label">
        <h5>ATOMS</h5>
      </div>
      {{ partial "menu-items" .Site.Menus.atom }}
    </div>
  </div>
</div>
{{ end }}
