/**
 * Flag styles
 */

.masthead {
  --paper-color: transparent;
  --paper-shadow: none;
}

.msb .masthead {
  --paper-color: var(--subBlue);
  --text-color: white;
  --link-color: white;
  --border-color: white;
}

.flag {
  display: grid;
  gap: var(--gap);
  grid-template-areas:
    "menu account"
    "logo logo"
    "nav nav";
  align-items: center;
  max-width: var(--section-width);
  margin: 0 auto;
  padding: var(--page-padding);
  padding-bottom: 0;
  /* font: bold 13px var(--sans); */

  /* Custom properties for kids */
  --gap: 15px;
  --link-decoration: none;
  --text-family: var(--sans);
  --text-weight: bold;
  --text-size: 13px;
  --stack-gap: 7px;
  --row-gap: var(--gap);
}

.msb .flag {
  grid-template-areas:
    "menu edition account"
    "logo logo logo"
    "nav nav nav";
}

@media(min-width: 768px) {
  .flag {
    grid-template-areas:
      "menu account"
      "left right"
      "logo logo"
      "nav nav";
  }

  .msb .flag {
    grid-template-areas:
    "menu account"
    "left right"
    "edition edition"
    "logo logo"
    "nav nav"
  }
}

@media(min-width: 1024px) {
  .flag {
    grid-template-areas:
      "menu . account"
      "left logo right"
      "nav nav nav";
  }

  .msb .flag {
    grid-template-areas:
      "menu . account"
      "edition edition edition"
      "left logo right"
      "nav nav nav"
  }
}

/**
 * Children
 */

.flag-menu {
  grid-area: menu;
}

.flag-account {
  grid-area: account;
  place-self: end;
  min-height: 30px;
  --text-size: 13px;
  --text-weight;
}

.flag-left {
  grid-area: left;
  --text-size: 14px;
  --link-hover-decoration: underline;
}

.flag-right {
  grid-area: right;
  place-self: end;
  --text-size: 14px;
  --link-hover-decoration: underline;
}

.flag-edition {
  grid-area: edition;
  place-self: center;
  font: bold 13px/1em var(--sans);
}

.flag-edition:before,
.flag-edition:after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: var(--text-color);
}

.msb .flag-edition {
  --text-color: var(--subYellow);
}

.flag-logo {
  grid-area: logo;
}

.logo {
  width: 100%;
  height: auto;
  max-height: 75px;
}

.flag-nav {
  grid-area: nav;
  border-top: 2px solid var(--border-color, var(--black));
  border-bottom: 1px solid var(--border-color, var(--black));
  --text-size: 16px;
  --row-gap: 0;
  --link-hover-decoration: underline;
}

.flag-nav .row > * {
  padding: var(--gap) calc(var(--gap) / 2);
}

.flag-nav .row > :first-child {
  padding-left: 0;
}

.flag-nav .separator ~ * {
  font-weight: normal;
}
