/**
 * Mast styles
 */

.mast { 
  /* Styles */
  padding: var(--page-padding);
  padding-bottom: 0;
  color: var(--text-color);

  /* Custom properties for kids */
  --gap: 15px;
  --link-decoration: none;
  --text-family: var(--sans);
}

.mast > * {
  max-width: var(--section-width);
  margin: 0 auto;
}

/**
 * Top row
 */

.mast-top {
  justify-content: space-between;
  font: bold 13px/1em var(--sans);
  --row-gap: var(--gap);
}

/**
 * Middle row 
 */

.mast-middle {
  display: grid;
  align-items: center;
  gap: var(--gap);
  font: 14px/1em var(--sans);
  padding: 30px 0;

  /* Custom properties for kids */
  --stack-gap: 7px;
  --line-height: 1.1em;
}

.mast-right {
  text-align: right;
  align-items: end;
}

.mast-logo {
  place-items: center;
  position: relative;
}

.mast-edition {
  visibility: hidden;
  font: bold 13px/1em var(--sans);
  position: absolute;
  top: -25px;
  color: var(--text-color);
}

.mast-edition:before,
.mast-edition:after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: var(--text-color);
}

.mast-logo .logo {
  max-width: 100%;
  height: auto;
}

.mast-logo .logo.white {
  display: none;
}

/**
 * Bottom row
 */

.mast-bottom {
  border-top: 2px solid var(--border-color, var(--black));
  border-bottom: 1px solid var(--border-color, var(--black));
  font: 700 16px/1em var(--sans);

  /* Custom properties for kids */
  --row-gap: 0;
}

.mast-bottom .row > * {
  padding: var(--gap) calc(var(--gap) / 2);
}

.mast-bottom .row > :first-child {
  padding-left: 0;
}

.mast-bottom .separator ~ * {
  font-weight: normal;
}

/**
 * Media breakpoints 
 *
 * I like to put my media breakpoints next to the element
 * itself, or in the same file, but to each their own so don't
 * think that's a rule or anything.
 **/

@media(max-width: 767px) {
  .mast-left, 
  .mast-right {
    display: none;
  }
}

@media(min-width: 768px) {
  .mast {
    --page-padding: 30px;
  }

  .mast-middle {
    grid-template-columns: 1fr 1fr;
  }

  .mast-logo {
    grid-row: 2;
    grid-column: 1/-1;
  }

  .flag-logo img {
    width: 100%;
    max-width: 600px;
  }
}

@media(min-width: 1024px) {
  .mast-middle {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .mast-logo {
    grid-row: auto;
    grid-column: auto;
  }
}

/**
 * Subscriber version
 */

.msb .mast {
  background-color: var(--subBlue);
  --text-color: white;
  --link-color: white;
  --button-background-color: white;
  --button-text-color: var(--subBlue);
  --border-color: white;
  fill: white;
}

.msb .mast-edition {
  visibility: visible;
  --text-color: var(--subYellow);
}

.msb .mast-logo .logo.black {
  display: none;
}

.msb .mast-logo .logo.white {
  display: block;
}
