/**
 * Default parameters
 */

:root {
  /* Fonts */
  font: 16px/1.5rem var(--serif);
  --sans: "Noto Sans", sans-serif;
  --serif: "Noto Serif", serif;
  --premium-serif: "DM Serif Display", serif;
  --h1-size: 1.875rem;
  --h2-size: 1.5rem;
  --h3-size: 1.2rem;
  --h4-size: 1rem;

  /* Spacing and alignment */
  --gap: 30px;
  --half-gap: calc(var(--gap) / 2);
  --spread: 10px;
  --page-padding: 15px;
  --section-width: 1140px;
  --story-width: 728px;
  --story-media-width: var(--story-width);
  --story-embed-width: var(--story-width);
  --columns: repeat(auto-fit, minmax(300px, 1fr));

  --column-gap: ;
  --row-gap: ;

  --space: 15px;
  --space-sm: calc(var(--space)*2/3);
  --space-lg: calc(var(--space)*2);

  /* Colors */
  --black: #01101c;
  --white: #fff;
  --dark-gray: #373737;
  --gray: #707070;
  --lightgray: #d3d3d3;

  --impact: #373737;
  --promo: #31409F;
  --premium-bc: #00223e;
  --premium-tc: white;
  --premium-impact: #ffd71a;

  --text-color: var(--black);
  --secondary-text-color: var(--gray);
  --tertiary-text-color: var(--dark-gray);
  --body-color: #f4f4f4;
  --secondary-body-color: #ffffff; /* paper color */
  --tertiary-body-color: #e6e6e6;
  --primary: ; /* hue / link color? */
  --emphasis: var(--dark-gray);

  --paper-color: var(var(--secondary-body-color));


  /* Link and button defaults */
  --link-color: var(--text-color);
  --link-decoration: none;
  --button-color: var(--secondary-text-color);
  --button-background-color: var(--emphasis);

  --story-link-color: ;
  --story-link-hover-color: ;

  /* Paper box shadow */
  --paper-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .13);

  /**
   * Header properties available
   *
   * --header-family: header family
   * --header-weight: header weigth
   * --header-transform: header transform
   * --header-leading: header leading
   * --header-color: header color
   * --h1-size: H1 header size
   * --h2-size: H2 header size
   * --h3-size: H3 header size
   * --h4-size: H4 header size
   */

  /**
   * Text properties available
   *
   * --text-color: text color
   * --fill-color: fill color (inline svg)
   */

  /**
   * Link properties available
   *
   * --link-color: link color
   * --link-decoration: link decoration
   * --link-hover-color: link hover color
   * --link-hover-decoration: link hover decoration
   */

  /**
   * Button properties available
   *
   * --button-color: button color
   * --button-background-color: button background color
   */
}

@media(min-width: 768px) {
  :root {
    --page-padding: 30px;
  }
}

body {
  margin: 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

body.freeze {
  overflow: hidden;
}

/**
 * Typography
 */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: var(--header-family, inherit);
  font-weight: var(--header-weight, bold);
  text-transform: var(--header-transform, none);
  line-height: var(--header-leading, 1.2em);
  color: var(--header-color, var(--text-color));
}

h1, .h1 {
  font-size: var(--h1-size);
}

h2, .h2 {
  font-size: var(--h2-size);
}

h3, .h3 {
  font-size: var(--h3-size);
}

h4, .h4 {
  font-size: var(--h4-size);
}

h5, .h5 {
  font: bold 0.875rem var(--sans);
}

h6, .h6 {
  font: 0.75rem var(--sans);
}

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}

a:hover {
  color: var(--link-hover-color, var(--link-color));
  text-decoration: var(--link-hover-decoration, var(--link-decoration));
}

ul, ol {
  padding-left: 0;
}

li {
  margin: 5px 0 5px 1em;
}

.kicker {
  display: inline-block;
  padding: 5px 8px;
  font-weight: normal;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 2px;
  text-transform: uppercase;
  --link-decoration: none;
  --link-hover-decoration: none;
  --link-color: var(--text-color);
  --link-hover-color: var(--text-color);
}

time, .time, .byline {
  display: inline-block;
  text-transform: uppercase;
  color: var(--text-color, var(--secondary-text-color));
  font: 0.75rem/1.1em var(--sans);
}

.byline a {
  color: inherit;
  font-weight: bold;
}

.credit {
  font-style: italic;
}

summary, .summary {
  font: 0.875rem var(--sans);
}

.label {
  margin: 0;
  display: grid;
  place-items: center;
  --link-decoration: none;
}

.label > * {
  margin: 0;
  padding: 5px 10px;
  color: var(--secondary-body-color);
  background-color: var(--emphasis);
  font: bold 0.875rem var(--sans);
  line-height: 1em;
}

.label.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.more-link {
  display: inline-block;
  justify-self: end;
  font: 700 0.75rem/1em var(--sans);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.more-link:hover {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.more-link:after {
  content: "\2794";
  display: inline-block;
  transform: translateY(-.05em) translateX(4px);
  transition: transform .6s ease;
}

.more-link:hover:after {
  transform: translateY(-.05em) translateX(8px);
}

.dateline {
  display: block;
  font: italic 0.875rem var(--sans);
  text-transform: uppercase;
  color: var(--text-color, #757575);
}

hr {
  align-self: stretch;
  border: .5px solid var(--text-color, var(--gray));
}

/**
 * Buttons and UI elements
 *
 * Now this needs promo/impact love
 */

.button {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 3px;
  font: bold 1rem var(--sans);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  cursor: pointer;
  --link-hover-color: var(--button-color);
  --link-hover-decoration: none;
}

.button.big {
  padding: 10px 35px;
}

.button.text,
.button.ghost {
  border: 1px solid var(--emphasis);
  background-color: transparent;
  color: var(--emphasis);
}

.button.text {
  border: none;
}

.button.pill {
  border-radius: 1.5em;
}

.button > img {
  display: block;
}

/**
 * Color schemes
 */

 .impact, 
 .promo,
 .promo-light,
 .disabled,
 [disabled] {
   background-color: var(--emphasis);
   --paper-color: var(--emphasis);
   --text-color: var(--secondary-body-color);
   --fill-color: var(--secondary-body-color);
   --button-color: var(--secondary-body-color);
   --hover-color: var(--secondary-body-color);
   --link-hover-color: var(--secondary-body-color);
   --button-background-color: var(--emphasis);
 }
 
 .impact .button,
 .impact .label {
   --button-color: var(--emphasis);
   --button-background-color: white;
 }
 
 .promo {
   background-color: var(--promo);
   --paper-color: var(--promo);
   --button-background-color: var(--promo);
 }
 
 .promo .button,
 .promo .label {
   --button-color: var(--promo);
   --button-background-color: white;
 }
 
 .promo-light {
   background-color: #5169B8;
   --paper-color: #5169B8;
   --button-background-color: #5169B8;
 }
 
 .promo-light .button,
 .promo-light .label {
   --button-color: #5169B8;
   --button-background-color: white;
 }
 
 .disabled, [disabled] {
   --paper-color: #757575;
   cursor: not-allowed;
 }

/**
 * Form elements
 */

form, .checkbox-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  text-align: left;
  color: var(--text-color);
}

.checkbox-group {
  grid-gap: 10px;
}

form .grid {
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-gap: 15px;
}

form > *, .checkbox-group > * {
  margin: 0;
}

form.paper {
  padding: var(--half-gap);
}

label { 
  position: relative;
  display: block;
  font: 700 0.875rem var(--sans);
  line-height: 1.5;
}

label.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 8px;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
}

label ~ input, 
label ~ select, 
label ~ .select,
label input,
label select, 
label .select {
  margin-top: 10px;
}

label small,
label + small {
  display: block;
  margin-top: 2px;
  font: 400 0.875rem var(--sans);
  color: var(--secondary-text-color);
}

input, select, .select {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #989898;
  border-radius: 2px;
  background-color: white;
  font-size: 0.875rem;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1em 100%;
  background-position: calc(100% - 10px) 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
}

input[type="checkbox"]:checked {
  background-color: #222;
  box-shadow: inset 0px 0px 0px 3px white;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  border: 1px solid var(--text-color, #707070);
  border-radius: 50%;
}

input[type="radio"]:checked {
  box-shadow: inset 0px 0px 0px 4px #222;
  background-color: white;
}

input:focus, select:focus, .focus {
  outline: none;
  box-shadow: 0 0 4px 2px hsla(0, 0%, 59.6%, .75);
}

.password-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.password-label:after { 
  content: "\f070"; 
  font: 400 14px Font Awesome\ 5 Free;
  cursor: pointer;
}

.password-label.active:after{
  content: "\f06e"
} 

/**
 * Inline SVG
 */

svg {
  fill: var(--text-color);
}

/** 
 * Media
 */

figure {
  position: relative;
  display: grid;
  flex: none;
  gap: 10px;
  margin: 0;
}


figure img {
  display: block;
  width: 100%;
  height: auto;
}

figcaption, .caption {
  font: 400 0.875rem/1.4em var(--sans);
  color: var(--secondary-text-color);
}

/**
 * Paper
 */

.paper {
  position: relative;
  box-shadow: var(--paper-shadow); 
  background-color: var(--paper-color);
  color: var(--text-color);
}

.paper * {
  --paper-shadow: none;
}

/*
 * MMN disclaimer for header and footer
 */

.mmn-company {
  margin: 0;
  padding: 1em 0;
  font: bold 10px var(--sans);
  text-align: center;
  color: var(--text-color);
}
