/**
 * Stack and row generics
 */

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, var(--space-xs));
  --display: flex;
}

.row {
  display: flex;
  align-items: var(--row-align, center);
  gap: var(--row-gap, var(--space-xs));
  --display: flex;
}

/*
 * Packages are stacks, but introduce some typography rules
 */

.package {
  display: flex;
  flex-direction: column;
  gap: var(--package-gap, var(--space-xs));
  align-items: var(--package-align, start);
  padding: var(--package-padding, var(--space-sm));
  --header-family: var(--serif);
  --header-weight: normal;
  --header-transform: none;
  --link-color: var(--text-color);
  --link-decoration: none;
  /* --link-hover-color: var(--text-color); */
  --link-hover-decoration: underline;
}

/*
 * Card is the real element we'll use mostly
 */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: var(--card-align, start);
  gap: var(--card-gap, var(--space-xs));
  background-color: var(--card-color, var(--paper-color));
  color: var(--card-text-color, var(--text-color));
  box-shadow: var(--paper-shadow);
}

/*
 * ---------------------------------------------
 * The rest of this stuff needs to be incorporated of course
 * ---------------------------------------------
 */

/* .stack, */ 
/* .package, */ 
/* .card { */
/*   display: flex; */
/*   --display: flex; */
/*   flex-direction: column; */
/*   align-items: start; */
/*   gap: var(--spread); */
/* } */

.stack > *,
.row > *,
.package > *,
.card > * {
  margin: 0;
}

/* .row { */
/*   display: flex; */
/*   --display: flex; */
/*   align-items: center; */
/*   gap: var(--spread); */
/* } */

/* .package { */
/*   padding: var(--half-gap); */
/*   color: var(--text-color); */
/*   flex: 1; */
/*   --header-transform: none; */
/*   --header-weight: normal; */
/*   --header-family: var(--serif); */
/*   --link-decoration: none; */
/*   --link-hover-decoration: underline; */
/*   --link-color: var(--link-color, inherit); */
/*   --link-hover-color: var(--link-hover-color, inherit); */
/* } */

.package.no-img {
  --h3: x-large;
}

.package img {
  max-width: 100%;
}

.package > .time,
.package > time {
  display: flex;
  flex: 1 1 auto;
  align-items: end;
}

.package.thumb {
  display: grid;
  grid-template-columns: 1fr 90px;
}

.package.thumb > * {
  grid-column: 1;
}

.package.thumb > [class*="img"],
.package.thumb > img {
  grid-row: 1 / span var(--thumb-span, 2);
  grid-column: 2;
}

.package.thumb > time,
.package.thumb > .time {
  align-self: end;
}

/* .card { */
/*   position: relative; */
/*   box-shadow: var(--paper-shadow); */
/*   background-color: var(--paper-color); */
/*   color: var(--text-color); */
/* } */

.card * {
  --paper-shadow: none;
}

.card figure,
.card .video,
.card .playlist-carousel-wrapper {
  align-self: stretch;
}

.card.horizontal figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

@media(min-width: 660px) {
  .card.horizontal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: center;
  }
}

.card.sponsored .kicker {
  background-color: var(--text-color);
  --text-color: var(--secondary-background-color);
}

/**
 * Horizontal slider for additional content
 */

.slider {
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: 
    var(--scrollbar-foreground, var(--black)) 
    var(--scrollbar-background, transparent);
}

.slider .row {
  display: inline-flex;
}

.slider::-webkit-scrollbar {
  height: var(--scrollbar-height, 2px);
}

.slider::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground, #0007);
}

.slider::--webkit-scrollbar-track {
  background: var(--scrollbar-background, transparent);
}

/**
 * Section concept for layout stacking
 */

section, .section {
  display: block;
  position: relative;
  max-width: var(--section-width);
  margin: var(--space) auto;
}

#main-content,
.videoIngest #vueContainer {
  display: block;
  max-width: unset;
  margin: 0;
  padding: 0;
}

.section-label {
  margin: 0 0 10px 0;
  padding: 0 var(--page-padding);
  font-weight: bold;
}

.section-title h5 {
  margin: 0;
}

@media(min-width: 600px) {
  section, .section {
    padding: 0 var(--page-padding);
  }

  .section-label {
    padding: 0;
  }
}

/**
 * Expander 
 */

.expander {
  display: flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.expander:after {
  content: "";
  display: inline-block;
  clip-path: polygon(0% 0%, 50% 80%, 100% 0%, 100% 20%, 50% 100%, 0% 20%, 0% 0%);
  max-width: 15px;
  width: 0.8em;
  max-height: 9px;
  height: 0.48em;
  margin-left: 5px;
  transition: transform .5s ease;
  transform-origin: 50%;
  background-color: currentColor;
}

.expander:not(.open) ~ * {
  display: none;
}

.expander:not(.open) ~ .d-block {
  display: block;
}

.expander.open:after {
  transform: scaleY(-1);
}

/**
 * Social media 
 */

.social-media {
  place-content: center;
  display: flex;
  gap: var(--social-media-gap, var(--space-sm));
}

.social-media svg {
  display: block;
  width: 20px;
  height: 20px;
}
