.account-header {
  display: grid;
  grid-gap: 15px;
  justify-items: center;
  border-top: 1px solid #EBEBEB;
  max-width: 900px;
  margin: 0 auto;
  --header-transform: none;
}

.account-header small {
  display: block;
  font-weight: 700;
  color: var(--text-color, #707070);
  text-transform: uppercase;
  align-self: center;
}

.account-header .nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: stretch;
}

.account-header .tab {
  padding: 10px;
  text-transform: uppercase; 
  text-align: center;
  font: 400 14px var(--sans); 
  --link-color: #31409f;
  --link-hover-color: #5169B8;
  --link-decoration: none;
  --link-hover-decoration: none;
}

.tab.active {
  font: 700 14px var(--sans); 
  background: rgba(49,64,159,.15);
  border-radius: 0 2px 0 0;
}

@media (min-width: 768px) {
  .dsp .tab.active {
    border-radius: 2px 2px 0 0;
  }
}
