/**
 * .sections
 */

section, .section {
  display: block;
  max-width: var(--section-width);
  margin: 30px auto;
}

@media (min-width: 630px) {
  section, .section {
    padding: 0 15px;
  }
}

section.always-pad,
.section.always-pad {
  padding: 0 15px;
}

section.full-bleed,
.section.full-bleed {
  max-width: 100%;
  padding: 0;
}

/**
 * Card rules
 */

.section .lead-story {
  --hs: 1.875rem;
  --hw: bold;
}

@media (min-width: 660px) {
  .section .lead-story {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.section .in-depth {
  grid-row: 8;
  grid-column: 1/-1;
}

.section .digest {
  grid-row: 14;
}

.section #newsletter-signUpWidget {
  grid-row: 16;
  grid-column: 1;
}

.section .load-more {
  grid-column: 1/-1;
}


/**
 * Zones
 */

.section .zone {
  grid-column: 1/-1;
}

.section #zone-el-5 {
  grid-row: 4;
}

.section #zone-el-6 {
  grid-row: 7;
}

.section #zone-el-8 {
  grid-row: 10;
}

.section #zone-el-9 {
  grid-row: 13;
}

/**
 * Extras
 */

.section .more-link { 
  padding: 0 15px;
}

.section .section-label {
  grid-column: 1/-1;
  margin: 0;
  padding: 0 15px;
}

/**
 * Topic page adjustments
 */

.topic .lead-story.horizontal {
  grid-column: 1/-1;
}

.topic .lead-story.horizontal figure {
  min-height: 400px;
}

/**
 * Search page adjustments
 */

.search #newsletter-signUpWidget {
  grid-row: 9;
}

/**
 * When padding kicks in
 */

@media(min-width: 630px) {
  .section .more-link,
  .section .section-label {
    padding: 0;
  }
}

/**
 * Two columns and up
 */

@media(min-width: 660px) {
  .section .digest {
    grid-row-end: span 2;
  }

  .section #newsletter-signUpWidget {
    grid-row: 6;
    grid-column: 1;
  }
}

/**
 * Three columns
 */

@media(min-width: 990px) {
  .section .digest {
    grid-row-start: 1;
  }
}
