/*
 * Guide structure
 */

@media(min-width: 769px) {
  body.saratoga,
  body.email {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "banner banner"
      "rail main";
  }
}

/*
 * Atoms
 */

code {
  background-color: #ddd;
  padding: 2px 5px;
}

pre {
  font-size: 0.875rem;
  line-height: 1.3em;
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
  background-color: transparent;
  padding: 0;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  font: 0.875rem var(--sans);
}

td {
  padding: 5px 0;
}

th {
  padding-bottom: 8px;
}

td:first-child {
  font-weight: bold;
  width: 150px;
}

/*
 * Banner/flag (site version)
 */

.banner {
  grid-area: banner;
  display: grid;
  grid-gap: 15px;
  align-content: center;
  justify-items: center;
  padding: 15px;
  background-color: var(--paper-color, white);
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  --spread: 20px;
}

@media(min-width: 769px) {
  .banner {
    grid-template-columns: 1fr auto;
    justify-items: start;
  }
}

.banner .logo {
  height: 40px;
  width: auto;
}

.banner nav a {
  font: bold small var(--sans);
  text-transform: uppercase;
}

/*
 * Menu rail
 */

.rail {
  grid-area: rail;
  overflow: scroll;
  font-family: var(--sans);
  line-height: 1.3em;
  --spread: 5px;
  --gap: 15px;
}

.rail > div {
  display: grid;
  gap: 20px;
  padding: 0 15px 15px;
  border-bottom: 1px solid var(--gray);
}

.rail .themes {
  background-color: #E6D3EC;
}

.rail .cards {
  background-color: #FDFDF6;
}

.rail .molecules {
  background-color: #ECF5FF;
}

/*
 * Story
 */

.story-body {
  grid-area: main;
  overflow: scroll;
}

.story-body > hr {
  margin: 60px auto;
  box-sizing: border-box;
  border-color: #ddd;
}

/*
 * Region showcase
 */

.region > :after {
  content: "region item";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 255, 0.6);
  font: 1.2em var(--sans);
  color: white;
}
