/**
 * Nav
 */

.banner {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 13;
}

.banner .logo {
  height: 50px;
  width: auto;
}

.banner nav {
  display: flex;
}

.banner a {
  font: bold small var(--sans);
  padding: 13px 15px;
  text-transform: uppercase;
  color: inherit;
}

.banner a:hover {
  text-decoration: none;
}

.banner a span {
  padding: 2px 0;
}

.banner a.active span {
  border-bottom: 2px solid #333;
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
}

/**
 * Generics
 */

.grid-label {
  padding: 15px;
}

code {
  background-color: #ddd;
  padding: 2px 5px;
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
  background-color: transparent;
  padding: 0;
}

.copied {
  background-color: #0D932B;
}


/**
 * Footer
 */

footer {
  background-color: #373737;
  min-height: 20px;
}

/**
 * Labs page
 */

.grid.labs .package .summary {
  flex: 1;
}

/**
 * Download snippet button
 */

.download-snippet {
  --ht: uppercase;
  --hw: bold;
  --hf: var(--sans);
}

/**
 * Unincorporated cards
 */

.video-carousel-placeholder {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --hw: bold;
}

/**
 * Custom spacing for this zone vs live site
 * Not included in SDS build
 */

/* #zone-el-2 { */
/*   padding: 15px 0; */
/* } */

/**
 * Story deck styles
 */

fake-ad {
  display: flex;
  background-color: var(--ad-background);
  padding: 15px;
}

.sponsored.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03869870;
}

#zone-el-2 fake-ad {
  background-color: unset;
}

[data-zone="1"] {
  min-height: var(--height, 250px);
}

[data-zone] {
  position: relative;
}

[data-zone]:after {
  content: attr(data-zone);
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: rgba(244,244,244,0.6);
  border-radius: 50%;
  border: 1px solid #ddd;
  color: #222;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  z-index: 10;
}

[data-zone="dynamic"]:after {
  font-size: large;
}
