<!doctype html>
<html lang="en" class="msb">
  <head>
    <title>Marketing | Content</title>
    <meta name="description" content="email template for content marketing">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="../../../favicon.ico">

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@200;400;600&family=Noto+Sans:wght@400;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="../../../css/atoms.css">
    <link rel="stylesheet" href="../../../css/molecules.css">

    
    <link rel="stylesheet" href="../../../css/cards/flag.css">
    <link rel="stylesheet" href="../../../css/cards/menu.css">
    <link rel="stylesheet" href="../../../css/cards/footer.css">
    <link rel="stylesheet" href="../../../css/cards/grid.css">
    <link rel="stylesheet" href="../../../css/cards/story.css">

    
    <link rel="stylesheet" href="../../../css/cards/premium-topper.css">
    <link rel="stylesheet" href="../../../css/cards/flex-columns.css">
    <link rel="stylesheet" href="../../../css/cards/zones.css">
    <link rel="stylesheet" href="../../../css/cards/digest.css">
    <link rel="stylesheet" href="../../../css/cards/immersive.css">
    <link rel="stylesheet" href="../../../css/cards/search.css">
    <link rel="stylesheet" href="../../../css/cards/header.css">
    <link rel="stylesheet" href="../../../css/cards/series-nav.css">
    <link rel="stylesheet" href="../../../css/cards/correction.css">
    <link rel="stylesheet" href="../../../css/cards/related-stories.css">
    <link rel="stylesheet" href="../../../css/cards/author-card.css">
    <link rel="stylesheet" href="../../../css/cards/timeline.css">
    <link rel="stylesheet" href="../../../css/cards/transparency.css">
    <link rel="stylesheet" href="../../../css/cards/big-news.css">
    <link rel="stylesheet" href="../../../css/cards/in-depth.css">
    <link rel="stylesheet" href="../../../css/cards/swg-promo.css">
    <link rel="stylesheet" href="../../../css/cards/read-next.css">
    <link rel="stylesheet" href="../../../css/cards/section-nav.css">
    <link rel="stylesheet" href="../../../css/cards/inline-cta.css">
    <link rel="stylesheet" href="../../../css/cards/upper-nav.css">
    <link rel="stylesheet" href="../../../css/cards/gallery.css">
    <link rel="stylesheet" href="../../../css/cards/sponsor.css">
    <link rel="stylesheet" href="../../../css/cards/panel.css">
    <link rel="stylesheet" href="../../../css/cards/taboola.css">
    <link rel="stylesheet" href="../../../css/cards/utilities.css">

    
    <link rel="stylesheet" href="../../../css/website/site.css">

    
    <script defer src="../../../js/fake-ad.js"></script>
    
<link rel="stylesheet" href="../../../css/website/style-guide.css">
<script async src="../../../js/eds-molecules.js"></script>
<script async src="../../../js/eds-layouts.js"></script>
<script async src="../../../js/eds-frameworks.js"></script>
<script async src="../../../js/eds-newsletter.js"></script>

  </head>

  <body class="">
    <div class="banner paper">
      <a href="../../../" style="padding: 0;"><img class="logo" src="../../../img/banner-logo.newsx.svg" width="300" height="76" alt="McClatchy ProdX logo"></a>
      <nav>
        <a href="https://mcclatchy.github.io/design/saratoga/" class="">
          <span>style guide</span>
        </a>
        <a href="https://mcclatchy.github.io/design/markets/" class="">
          <span>markets</span>
        </a>
        <a href="https://mcclatchy.github.io/design/email/" class="active">
          <span>email</span>
        </a>
        <a href="https://mcclatchy.github.io/design/theming/" class="">
          <span>theming</span>
        </a>
      </nav>
    </div>
<div class="panels">
  <div class="paper story-body details">
    <h2 class="page-header">Marketing | Content
    </h2>
    <p>This email template is used for content marketing. It can be used as-is.</p>
<p><a class="button big promo" style="margin-bottom:24px;" href="#">Get HTML</a></p>
<h3 id="example">example</h3>
<div class="example">
coming soon
		<newsletter-digest></newsletter-digest>
</div>
<script type="text/javascript">
class NewsletterDigest extends HTMLElement {
	get template() {
		let t = document.createElement("template");
		t.innerHTML = `
		<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
			<style>
				@import url( '/css/email/eds.css' )
			</style>
<pre><code>	&lt;/head&gt;
	&lt;body&gt;

	&lt;/body&gt;
	`;
	return t;   
}
constructor() {
	super();
}
connectedCallback() {
	let clone = this.template.content.cloneNode(true);
	this.attachShadow({ mode: &quot;open&quot; });
	this.shadowRoot.appendChild(clone);
}
</code></pre>
<p>} // end Class
customElements.define(&ldquo;newsletter-digest&rdquo;, NewsletterDigest);
</script></p>

  </div>

  
<div class="paper digest list">

	<div class="atoms">
		<div class="label">
			<h5>OVERVIEW</h5>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/overview/description/">Description</a>
			</h4>
			<p class="summary">EDS purpose and structure</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/overview/instructions/">Instructions</a>
			</h4>
			<p class="summary">how to use the EDS</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/overview/resources/">Resources</a>
			</h4>
			<p class="summary">links and information about HTML email</p>
		</div>
		
	</div>

	<div class="atoms">
		<div class="label">
			<h5>FRAMEWORK</h5>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/frameworks/standard-framework/">Email Framework</a>
			</h4>
			<p class="summary">standard email framework</p>
		</div>
		
	</div>

	<div class="atoms">
		<div class="label">
			<h5>ATOMS</h5>
		</div>
		<div class="stack">
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/buttons/" class="">buttons</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/colors/" class="">colors</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/fine-print/" class="">fine print</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/h1/" class="">h1</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/h2/" class="">h2</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/h3/" class="">h3</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/h4/" class="">h4</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/links/" class="">links</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/p/" class="">p</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/small/" class="">small text</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/spacing/" class="">spacing</a>
			</h5>
			
			
			<h5 class="sans bold ">
				<a href="https://mcclatchy.github.io/design/email/atoms/text-modifiers/" class="">text modifiers</a>
			</h5>
			
		</div>
	</div>

	<div class="atoms">
		<div class="label">
			<h5>MODULES</h5>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/modules/apps-module/">App Module</a>
			</h4>
			<p class="summary">download our app and app badges</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/modules/basic-module/">Basic Module</a>
			</h4>
			<p class="summary">large icon, subheading, body copy and button</p>
		</div>
		
	</div>

	<div class="atoms">
		<div class="label">
			<h5>LAYOUTS</h5>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/layouts/columns/">Columns</a>
			</h4>
			<p class="summary">how to work with multi-column layouts</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/layouts/zigzag/">Zig-Zag Layout</a>
			</h4>
			<p class="summary">how to create a zig-zag layout that collapses gracefully on mobile</p>
		</div>
		
	</div>

	<div class="atoms">
		<div class="label">
			<h5>ADOBE CAMPAIGN</h5>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/campaign/campaign-shortcodes/">Campaign Shortcodes</a>
			</h4>
			<p class="summary">shortcodes for Adobe Campaign that import dynamic content or personalization data</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/campaign/conditional-formatting/">Conditional Formatting</a>
			</h4>
			<p class="summary">how to use if-else formatting to display content</p>
		</div>
		
	</div>

	<div class="atoms">
		<div class="label">
			<h5>TEMPLATES</h5>
		</div>
		
		
		<div class="stack eds-active">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/templates/marketing-content/">Marketing | Content</a>
			</h4>
			<p class="summary">email template for content marketing</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/templates/marketing-event/">Marketing | Event</a>
			</h4>
			<p class="summary">email template for event promotion</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/templates/marketing-offer/">Marketing | Offer</a>
			</h4>
			<p class="summary">email template for marketing offer</p>
		</div>
		
		
		<div class="stack">
			<h4 class="sans bold">
				<a class="" href="https://mcclatchy.github.io/design/email/templates/newsletter/">Newsletter</a>
			</h4>
			<p class="summary">email template for newsletters</p>
		</div>
		
	</div>

	<script src="../../../js/style-guide.js"></script>
</div>

</div>

    <script src="https://kit.fontawesome.com/8a8585a39f.js" crossorigin="anonymous"></script>
  </body>
</html>
