{{ define "head" }}
  <script defer src="/js/navigation.js"></script>
{{ end }}

{{ define "banner" }}
  <!-- removed for sticky nav -->
{{ end }}

{{ define "content" -}}
  {{ partial "masthead" . }}
  {{ partial "promo-banner" . }}

  <div class="zone" id="zone-el-2" data-type="ad">
    <fake-ad size="[970,250]"></fake-ad>
  </div>

  <!-- the wrapper was added by the front-end team -->
  <div class="server-rendered">
    <article class="story-body paper">{{ .Content }}</article>
  </div>

  {{ partial "footer" . }}
{{- end }}
