/** 
DSP Overrides
**/

section.dsp {
  max-width: 900px;
}

.purchase-flow {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-flow: dense;
}

@media (min-width: 860px) {
  .purchase-flow:after {
    content: "";
    grid-row: 1;
    grid-column: 2;
  }

  .purchase-flow .purchase-info {
    grid-column: 2;
  }
}

/**
 * Paywall
 */

.paywall {
  --section-width: 900px;
  text-align: center;
  padding-bottom: 30px;
}

.paywall .page-title {
  margin: 30px auto;
}

.paywall-expander {
  font: 700 0.875rem var(--sans);
  --tc: var(--blue);
  display: inline-block;
  text-align: center;
}

.paywall-details .offer-details {
  grid-column: 1/-1;
}

.paywall-offer .dsp-offer {
  grid-gap: 20px;
}

.paywall-offer .dsp-offer .bold {
  font: 700 19px/28px var(--sans);
}

@media (min-width: 900px) {
  .paywall-offer .h1 {
    font-size: 48px;
  }
}

/**
 * My account page
 */

.my-account .package {
  align-items: center;
  text-align: center;
  --spread: 15px;
}

/* 
 * Subscription offers
 */

.subscription-offers {
  --ts: 0.875rem;
  --tf: var(--sans);
  --hf: var(--sans);
  --hw: 700;
}

.subscription-offers .redeem-code {
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
  --ps: 30px;
  --hf: var(--sans);
  --hw: bold;
}

.subscription-offers form {
  align-self: stretch;
  text-align: left;
}

.subscription-offers .bottom-links {
  --ps: 15px;
  align-items: center;
}

/* This won't hold up for long */
@media (min-width: 660px) {
  .subscription-offers [class*=promo] .dsp-offer .h1 {
    min-height: 2.2em;
    display: flex;
    align-items: center;
  }
}

/* Hero at the top of the sub offer page */

.dsp-hero {
  --tc: white;
  --pa: center;
  --padding: 60px 30px;
  min-height: 320px;
  position: relative;
  overflow: visible;
  text-align: center;
}

.dsp-hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  object-fit: cover;
  object-position: 50% 70%;
  filter: brightness(0.7);
}

.dsp-hero .h1 {
  font-size: 38px;
}

.dsp-hero .h2 {
  font-size: 20px;
}

@media (min-width: 990px) {
  .dsp-hero .h1 {
    font-size: 52px;
  }

  .dsp-hero .h2 {
    font-size: 24px;
  }
}

/**
 * Review Order
 */

.review-order {
  display: grid;
  grid-gap: 30px;
  padding: var(--padding, 15px);
  --ts: 14px;
  --tf: var(--sans);
}

.review-order .package {
  --padding: 0;
  align-items: unset;
}

.review-order .secure {
  text-align: center;
  text-transform: uppercase;
  color: var(--tc, var(--gray));
}

.review-order .flex {
  justify-content: space-between;
  padding: 0 0 10px;
  border-bottom: 1px solid #989898;
  font-size: var(--ts);
}

.review-order-container {
  max-width: 450px;
  margin: 0 auto;
  align-items: center;
  padding: 0;
  --ps: 15px;
  --hf: var(--sans);
  --hw: 700;
}

/**
 * Confirmation
 */

.purchase-confirmation {
  text-align: center;
  --ts: 14px;
  --tf: var(--sans);
}

.purchase-confirmation .page-title {
  margin-bottom: 15px;
}

.purchase-confirmation .page-title .more-link {
  --lc: var(--blue);
  --lhc: var(--blue);
  --ts: 0.875rem;
}

.purchase-confirmation .purchase-flow:after {
  display: none;
}

.purchase-confirmation .package {
  align-items: center;
}

.purchase-confirmation .package .package > * {
  --ps: 0;
}

.app-buttons {
  grid-gap: 10px;
  grid-template-columns: repeat(2, max-content);
}

.app-buttons img {
  height: 36px;
}

/**
 * Modal
 */

.dsp-modal {
  max-width: var(--story-width);
  align-items: center;
  text-align: center;
  --ts: 14px;
  --tf: var(--sans);
  --ld: underline;
  --lhd: underline;
}

.dsp-modal .button {
  align-self: unset;
}

.dsp-modal .button:first-of-type {
  margin-top: 30px;
}

.dsp-modal .button.text {
  --bc: white;
  --bbc: transparent;
}

/**
 * Regwall
 */

.regwall-grid {
  --columns: 1fr minmax(auto, 400px) 1fr;
  grid-column-gap: 0px;
  padding: 15px;
}

.regwall-grid > * {
  grid-column: 2;
}
