.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px auto;
} 

.progress > * {
  padding: 0px 15px 10px 15px;
  font: 400 14px var(--sans);
  text-transform: uppercase;
  color: var(--tc, #707070);
  border-bottom: 3px solid transparent;
  margin: 0;
}


.progress .active {
  color: var(--tc, #222222);
  font-weight: 700;
  border-color: #222222;
}
