.purchase-info {
  font: 0.875rem var(--sans);
  --spread: 5px;
  padding: var(--padding, 15px);
  grid-template-columns: 1fr min-content;
  grid-gap: 0;
  grid-row-gap: 10px;
  align-items: center;
  align-self: flex-start;
}

.purchase-info .package {
  padding: 0;
}

.purchase-info p {
  color: var(--gray);
  margin: 0;
  line-height: 1.3em;
}

.purchase-info .bold {
  color: var(--black);
}

.purchase-info .expander ~ * {
  grid-column: 1/-1;
}

/* I have this on a class but I need to talk to Matt about it */
@media(min-width: 660px) {
  .purchase-info {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .purchase-info .package {
    align-items: center;
  }

  .purchase-info .expander {
    display: none;
  }

  .purchase-info .expander ~ * {
    display: block;
  }
}
