{{ define "head" }}
<link rel="stylesheet" href="/css/markets.css">
{{ end }}

{{ define "content" }}
<article class="paper story-body" style="padding: 15px 0;">
  <h2>{{ .Title }}</h2>
  {{ .Content }}

  <div class="form">
    <label>Jump to a market</label>
    <select id="market-select" onchange="location.hash = this.value">
      <option value=""></option>
      {{ range sort $.Site.Data.markets "sort" }}
      <option value="{{ .name | urlize }}">{{ .name }}</option>
      {{ end }}
    </select>
  </div>

  <!-- Loop through the markets in the data folder -->
  {{ range sort $.Site.Data.markets "sort" }}

  {{ $url := default (printf "https://www.%s.com" .domain) .url }}
  {{ $logos := $.Resources.Match (printf "%s/*" .domain) }}
  {{ $icons := $.Resources.Match (printf "%s/icons/*" .domain) }}
  {{ $domain := .domain }}

  <div class="panel">
    <div class="market">
      <div class="pack">
        <h3 class="h1" id="{{ .name | urlize }}">{{.name}}</h3>
        <p class="h6 lowercase">{{ .city }}, {{ .state }} | <a href="{{ $url }}" target="_blank">{{ .domain }}.com</a></p>
      </div>
    
      <div class="grid assets">
        {{ with $logos }}
        <div class="pack market-logos">
          <p class="h4">Logos</p>
          {{ partial "market-assets" . }}
        </div>
        {{ end }}

        {{ with $icons }}
        <div class="pack market-icons">
          <p class="h4">icons</p>
          {{ partial "market-assets" . }}
        </div>
        {{ end }}

        {{ with .subs }}
        <div class="vertical pack">
          <p class="h4">Sub publications</p>
          {{ range . }}

          {{ $url := urls.Parse .url }}
          {{ $logos := $.Resources.Match (printf "%s/%s/*.svg" $domain .glob) }}
          {{ $icons := $.Resources.Match (printf "%s/%s/icons/*.svg" $domain .glob) }}

          <div class="market">
            <div class="pack">
              <h3 class="h2" id="{{ .name | urlize }}">{{ .name }}</h3>
              <p class="h6 lowercase">{{ .city }}, {{ .state }} | <a href="{{ .url }}" target="_blank">{{ $url.Path }}</a></p>
            </div>

            <div class="grid assets">
              {{ with $logos }}
              <div class="pack market-logos">
                <p class="h4">Logos</p>
                {{ partial "market-assets" . }}
              </div>
              {{ end }}

              {{ with $icons }}
              <div class="pack market-icons">
                <p class="h4">Icons</p>
                {{ partial "market-assets" . }}
              </div>
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  <!-- end data range -->
  {{ end }}
</article>
{{ end }}
