/**
 * Expander 
 */

.expander {
  cursor: pointer;
  display: flex;
  align-items: center;
  outline: none;
}

.expander:after {
  content: "";
  display: inline-block;
  clip-path: polygon(0% 25%, 100% 25%, 50% 75%, 0% 25%);
  width: 14px;
  min-width: 14px;
  height: 14px;
  margin-left: 5px;
  transition: transform .5s ease;
  transform-origin: 50%;
  background-color: var(--tc, #222);
}

.expander:not(.open) ~ * {
  display: none;
}

.expander.open:after {
  transform: rotateX(180deg);
}
