/*****
 ** DSP offer molecule
 ****/

.dsp-offer {
  --hf: var(--serif);
  --ht: none;
  --hw: bold;
  --ts: 0.875rem;
  --tf: var(--sans);
  --ps: 5px;
  --pa: center;
  --padding: 0px;
  --lc: var(--blue);
  --lhc: var(--blue);
  position: relative;
  display: grid;
  grid-gap: 15px;
  padding: 30px;
  justify-items: center;
  text-align: center;
}

.dsp-offer > * {
  margin: 0;
}

.dsp-offer li {
  --tc: var(--gray);
  margin: 5px 0;
  list-style: disc inside;
}

.dsp-offer .summary {
  opacity: 0.8;
}

.dsp-offer .terms {
  font-size: 0.75rem;
  color: var(--gray);
}

.dsp-offer .button {
  align-self: unset;
}

/**
 * Horizontal Nissan Cube version
 */

@media (min-width: 660px) {
  .dsp-offer.horizontal {
    --pa: start;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 30px;
    justify-items: start;
    text-align: left;
    align-self: unset;
  }

  .dsp-offer.horizontal > * {
    grid-column: 1;
  }

  .dsp-offer.horizontal > .button {
    grid-column: 2;
    grid-row: 1/-1;
    align-self: center;
    justify-self: end;
  }

  .dsp-offer-label {
    padding-left: 30px;
    justify-content: start;
  }
}
