/**
 * offer details card
 */

.paywall-offer {
  --ts: 0.875rem;
  --tf: var(--sans);
  --padding: 30px;
  --ps: 10px;
  --lc: var(--blue);
  --lhc: var(--blue);
  text-align: center;
  align-self: flex-start;
}

.paywall-offer .package {
  align-items: center;
}

.paywall-offer .more-link {
  --tc: var(--blue);
}

.offer-details {
  padding: var(--padding, 30px);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.swg-details .small {
  font-size: 0.7rem;
}
