.page-title {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  max-width: 600px;
  --hf: var(--sans);
  --ht: none;
  --tf: var(--sans);
  --ts: 16px;
}

.page-title .secure {
  --ts: small;
  color: var(--gray);
  text-transform: uppercase;
}

.page-title .more-link {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.page-title .circle-icon {
  clip-path: circle(22px)
}

.page-title .circle-icon svg {
  display: block;
  width: 24px;
  padding: 10px;
}
