/**
 * AI Summary/Key Takeaways
 */

.ai-summary-wrapper { 
  padding: 2px;
  position: relative;
  border-radius: 3px;
  background: linear-gradient(0deg, #BD56FF, #0FB7FF);
}

@media (max-width: 800px) {
  .story-body .ai-summary-wrapper {
    margin: var(--space);
  }
}

.ai-summary {
  font-family: var(--sans);
  background-color: var(--paper-color);
  padding: var(--space);
  --grid-row-gap: 5px;
  --columns: auto;
  --secondary-text-color: var(--lightgray);
  --link-color: var(--text-color);
}

@media (min-width: 630px) {
  .ai-summary .grid {
    grid-auto-flow: column;
    align-items: baseline;
  }
}

.ai-summary .expander {
  justify-content: space-between;
}

.ai-summary-header {
  display: flex;
  gap: var(--space-sm);
  align-items: center;
}

.ai-summary p {
  font-size: 0.677em;
  color: var(--darkgray);
  margin: 0;
}

.ai-summary ul {
  list-style-type: square;
  font-size: 0.78em;
  line-height: 1.5em;
  margin-bottom: 0;
}