/**
 * Author card
 *
 */

 .author-card {
  display: grid;
  gap: var(--space);
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "thumb info"
    "bio bio";
  font-family: var(--sans);
  align-items: center;
  --link-decoration: none;
  --header-transform: none;
}

@media(max-width: 768px) {
  .author-card {
    grid-template-columns: auto;
    grid-template-areas: 
    "thumb"
    "info"
    "bio";
  }

  .author-card .more-link::after {
    display: none;
  }
}

.author-card .thumb {
  display: flex;
  align-items: center;
  gap: calc(var(--space)*2);
  grid-area: thumb;
}

.author-card .thumb .initials {
  background-color: #ECEEF2;
  flex: 0 0 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
}

.author-card .thumb img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.author-card > .author-info {
  grid-area: info;
  --link-color: var(--text-color);
}

@media(max-width: 768px) {
  .author-card > .author-info {
    padding-left: 0;
  }
}

.author-card .social-media {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.author-card .author-description {
  grid-area: bio;
}