/**
 * Author byline
 */

 .author-byline {
  display: grid;
  gap: var(--byline-gap, 5px);
  font-size: var(--byline-font-size, 14px);
  font-family: var(--header-family);
  color: var(--byline-color, var(--darkgray));
 }

 .author-name {
  font-weight: bold;
  --link-color: var(--byline-color);
 }

 .article-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  gap: 5px var(--space);
  --line-offset: calc(var(--gap) / 2);
  --line-thickness: 1px;
  --line-color: #d9d9d9;
}

.article-details > * {
  position: relative;
  line-height: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.article-details > *::before {
  content: '';
  position: absolute;
  background-color: var(--line-color);
  inline-size: var(--line-thickness);
  block-size: 100vh;
  inset-block-start: 0;
  inset-inline-start: calc(var(--line-offset) * -1);
  height: 25px;
  z-index: 1;
}

.article-details svg {
  align-self: center;
  vertical-align: middle;
  height: 1em;
}

@media(max-width: 768px) {
  .article-details .opinion svg {
    display: none;
  }
}

.article-details .social-media {
  gap: var(--space-sm);
}

.article-details .comments {
  font-weight: bold;
  --fill-color: var(--text-color);
}

.article-details .more-link {
  font-size: 1em;
}