/**
 * Big News
 * Note: we need something for labels "outside the grid" but
 * need to "line up with the grid".
 */

section.big-news {
  padding: 0;
}

.big-news .latest {
  margin: 0;
  padding: 15px 15px 0;
}

.big-news .h1 {
  font: 2.5rem/1em var(--premium-serif);
  text-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .big-news .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1140px) {
  .big-news .h1 {
    font-size: 3.5rem;
  }
}

.big-news figcaption {
  padding: 0px 15px;
}

.big-news figure:last-child {
  /* fix if there is no grid */
  padding-bottom: 15px;
}

.big-news .grid:not(.featured) {
  padding: 0 15px;
}

.big-news .grid:not(.featured) .package {
  padding: 0;
}

.big-news .featured {
  padding: 15px;
  --paper-shadow: none;
}

.big-news .featured .package {
  padding: 15px 0 0;
}

@media (min-width: 660px) {
  .big-news .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
