/**
 * Big News
 * Note: we need something for labels "outside the grid" but
 * need to "line up with the grid".
 */

section.big-news {
  padding: 0;
}

.big-news .label {
  display: block;
  padding: var(--space) var(--space) 0;
  text-align: center;
}

.big-news .label .h5 {
  font-size: 1.11rem;
  margin: 0;
}

/* better handled by removing the impact class in WPS */
.big-news .label .impact {
  color: inherit;
  background-color: transparent;
}

.big-news .latest {
  margin: 0;
  padding: 15px 15px 5px;
}

.big-news .h1 {
  font: 700 2.5rem/1.2em var(--sans);
  text-align: center;
  align-self: center;
  padding: var(--space);
}

@media (min-width: 768px) {
  .big-news .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1140px) {
  .big-news .h1 {
    font-size: 6.1rem;
  }

  .big-news .label .h5 {
    font-size: 2.22rem;
    margin: 0;
  }

  .big-news figcaption {
    font: 1.33rem var(--serif);
  }
}

.big-news .grid {
  --grid-row-gap: var(--space);
}

.big-news figcaption,
.big-news .grid:not(.featured) {
  padding: 0 15px;
}

.big-news .grid:not(.featured) .package,
.big-news .featured .package {
  padding: 0;
}

.big-news .featured {
  padding: var(--space);
  --card-padding: 0;
  --paper-shadow: none;
}

@media (min-width: 660px) {
  .big-news .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
