/**
 * Big News
 * Note: we need something for labels "outside the grid" but
 * need to "line up with the grid".
 */

section.big-news {
  padding: 0;
}

.big-news .label .impact {
  /* better handled by removing the impact class in WPS */
  color: var(--text-color);
  background-color: var(--paper-color);
}

.big-news .latest {
  margin: 0;
  padding: 15px 15px 5px;
}

.big-news .h1 {
  font: 700 2.5rem/1em var(--serif);
  text-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .big-news .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1140px) {
  .big-news .h1 {
    font-size: 3.7rem;
  }
}

.big-news figcaption,
.big-news .grid:not(.featured) {
  padding: 0 15px;
}

.big-news .grid:not(.featured) .package,
.big-news .featured .package {
  padding: 0;
}

.big-news .featured {
  padding: 15px;
  --paper-shadow: none;
}

@media (min-width: 660px) {
  .big-news .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
