/**
 * Breaking news banner 
 * External styling will need to be cleaned up.
 * Glyphicon styles are in WPS.
 */

 .breaking-news-organism {
  color: var(--white);
  background-color: var(--red);
  --text-color: var(--white);
  --fill-color: var(--text-color);
  max-width: 100%;
  height: 41px;
}

.breaking-news-macro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-sm);
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 10px;
  font-family: var(--sans);
  line-height: 1;
}

.breaking-news-macro h3 {
  margin: 0;
}

.breaking-title {
  font-weight: 400;
}

.close-breaking-news {
  flex: none;
  align-content: center;
  opacity: 1;
  transition: all .6s ease;
  min-width: 10px;
}

/*
 * Mobile CLS fix
 */
@media (max-width: 767px) {
  .breaking-news-organism {
    height: 62px;
    overflow: hidden;
  }

  .breaking-news-macro > div {
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
  }
}