/**
 * Breaking news banner 
 * External styling will need to be cleaned up.
 * Glyphicon styles are in WPS.
 */

.breaking-news-organism {
  background-color: var(--red);
  color: var(--white);
  max-width: 100%;
}

.breaking-news-macro {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: var(--sans);
  font-size: 20px;
  max-width: var(--section-width);
  padding: 15px;
  margin:0 auto;
}

.breaking-news-macro h3 {
  margin: 0;
}

@media (min-width: 690px) {
  div.breaking-news-macro {
      padding: 15px;
  }
}

.breaking-news-macro div.breaking-title {
  font-weight: bold;
}

.breaking-news-macro div.close-breaking-news {
  padding-left: 20px;
  opacity: 1;
  transition: all .6s ease;
}

.breaking-news-macro .icon-wrap {
  margin-bottom: 0;
}

.breaking-news-macro .icon-wrap .close-breaking-news::before {
  content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="9" viewBox="0 0 8 9" fill="none"%3E%3Cpath d="M7.59049 1.05497C7.81823 0.781777 7.78195 0.376006 7.50786 0.149016C7.23376 -0.0779743 6.82664 -0.0418166 6.5989 0.231375L3.87 3.49562L1.1411 0.231375C0.91336 -0.0418166 0.506242 -0.0779743 0.232143 0.149016C-0.0419554 0.376006 -0.0782332 0.781777 0.149511 1.05497L3.02956 4.5L0.149511 7.94503C-0.0782332 8.21822 -0.0419554 8.62399 0.232143 8.85098C0.506242 9.07797 0.91336 9.04182 1.1411 8.76862L3.87 5.50438L6.5989 8.76862C6.82664 9.04182 7.23376 9.07797 7.50786 8.85098C7.78195 8.62399 7.81823 8.21822 7.59049 7.94503L4.71044 4.5L7.59049 1.05497Z" fill="white"/%3E%3C/svg%3E');
}