.correction {
  box-sizing: border-box;
  background-color: var(--media-background-color);
  padding: var(--space);
  margin-bottom: 30px;
}

.correction p, .correction time {
  font-family: var(--sans);
  font-size: 12px;
  line-height: normal;
}
