/**
 * Digests
 */

.digest {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 15px;
  align-self: start;
}

.digest .more-link {
  padding: 0 15px;
}

@media(min-width: 600px) {
  .digest .more-link {
    padding: 0;
  }
}
