/**
 * Flag styles
 */

#mastheadVueContainer {
  z-index: 99;
  --flag-height: 0;
}

#mastheadVueContainer.updated-flag {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--media-background-color);
  --flag-height: 89px;
}

.masthead {
  --paper-color: var(--background-color);
  --paper-shadow: none;
  --link-color: black;
}

body.story .masthead,
body.wirestory .masthead {
  --paper-color: white;
}

html.msb .masthead {
  --paper-color: var(--sub-blue);
  --text-color: var(--sub-text-color);
  --link-color: var(--sub-text-color);
  --border-color: var(--sub-text-color);
  --fill-color: var(--sub-text-color);
}

.flag {
  display: grid;
  position: sticky;
  grid-template-areas: 
    "top"
    "line"
    "bottom";
  max-width: var(--section-width);
  margin: 0 auto;
  padding: 0 var(--page-padding);
  font: 14px/1em var(--sans);
  color: var(--text-color);

  /* Custom properties for kids */
  --link-decoration: none;
  --text-color: var(--black);
}

.msb .flag {
  --text-color: var(--sub-text-color);
}

/**
 * Rows
 */

.flag-row {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "left middle right";
  gap: 0 var(--space);
  align-items: center;
  height: var(--flag-row-height, 44px);
}

.flag-row + .flag-row {
  border-top: 1px solid var(--text-color);
}

/**
 * Positioning
 */

.flag-top {
  grid-area: top;
}

.flag-line {
  grid-area: line;
  height: 1px;
  background-color: var(--text-color);
}

.flag-bottom {
  grid-area: bottom;
}

/**
 * Buttons
 */

.flag .button {
  --display: flex;
  height: 100%;
  align-self: stretch;
  padding: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  transition: all 0.25s ease-in-out;
}

.flag .button.expander:after {
  display: none;
}

.flag .button.open,
.flag .button.opened {
  padding: 0 var(--space-sm);
  background: var(--text-color);
  --fill-color: var(--paper-color);
}

/**
 * Top row
 */

.flag-eedition {
  grid-area: left;
  --link-hover-decoration: underline;
}

.flag-eedition a {
  display: flex;
  gap: var(--space-sm)
}

.flag-logo {
  grid-area: middle;
}

.logo {
  display: block;
  width: auto;
  height: 20px;
  margin: 0 auto;
}

.flag-account {
  display: flex;
  grid-area: right;
  justify-self: end;
  align-self: stretch;
}

.msb-hide {
  align-self: center;
}

/**
 * Bottom row
 */

.flag-menu {
  grid-area: left;
  align-self: stretch;
}

.flag-nav {
  grid-area: middle;
  text-transform: uppercase;
  /* padding: var(--space-sm) 0; */
  padding: 13px 0;
  --link-hover-color: var(--text-color);
  --link-hover-decoration: underline;

  /* Hides the bottom border for decks without the premium topper */
  position: relative;
  top: 1px;
}

.msb .flag-nav {
  --scrollbar-foreground: var(--sub-secondary-text-color);
}

.flag-nav .separator ~ * {
  font-weight: normal;
}

.flag-weather {
  grid-area: right;
  justify-self: end;
}

/**
 * Mobile
 */

@media( max-width: 767px ) {
  .masthead {
    --flag-height: 44px;
    --menu-width: 100vw;
  }

  .flag {
    padding: 0;
    column-gap: var(--space-sm);
    grid-template-columns: auto 1fr;
    grid-template-areas: "bottom top";
  }

  .flag .button {
    padding: 0 var(--space-sm);
  }
  
  .flag .msb-hide a:last-of-type {
    padding-right: var(--space-sm);
  }

  .flag-top {
    grid-template-columns: auto 1fr;
    grid-template-areas: "middle right";
  }

  .flag-bottom {
    grid-template-columns: 1fr;
    grid-template-areas: "left";
  }

  .flag-line {
    display: none;
  }
}

/**
 * Account popout
 */

.flag .popout {
  display: block;
  position: fixed;
  top: 44px;
  right: 0px;
  width: var(--menu-width);
  height: calc(100vh - 44px);
  padding: var(--space-sm) 0;
  --paper-color: var(--white);
  --text-color: var(--black);
  --link-color: var(--black);
  --link-hover-color: var(--black);
  --link-hover-decoration: none;
  background-color: white;
  transform: translateX(200%);
  transition: transform .4s ease;
  z-index: 99;
}

.flag .expander.open + .popout {
  transform: translateX(0);
}

.flag .popout > * {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: var(--space-sm);
  align-items: center;
  box-sizing: border-box;
  padding: var(--space-sm) var(--space);
}

.flag .popout svg {
  width: 20px;
  fill: inherit;
}

.flag .popout button {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: var(--space-sm) auto;
  height: unset;
}

@media (max-width: 767px) {
  .logo {
    width: auto;
    margin-left: 0;
  }
  
  .popout {
    width: 100%;
    padding: 0;
  }
}
