/**
 * Header package
 */

.header {
  display: grid;
  gap: var(--half-gap);
  justify-items: center;
  text-align: center;
  --header-family: var(--serif);
  --header-weight: bold;
  --header-transform: none;
}

.header > * {
  margin: 0;
}

.bio {
  display: grid;
  gap: var(--half-gap);
}

.bio .byline {
  margin: 0;
}

@media (min-width: 600px) {
  .header .bio {
    display: flex;
    justify-self: stretch;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }
}

/**
 * Opinion changes
 */

.header.opinion .h1 {
  font-style: italic;
}

.header.opinion .bio {
  display: grid;
  gap: var(--spread);
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.header.opinion .bio .thumb {
  position: relative;
  width: 80px;
  height: 80px;
}

.header.opinion .bio .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/**
 * Opinion banner
 */

.opinion-banner {
  display: grid;
  grid-template-columns: 35px min-content 1fr;
  grid-column-gap: var(--half-gap);
  grid-row-gap: 5px;
  max-width: var(--story-width);
  margin: 0 auto;
  padding: 15px;
  color: white;
}

.opinion-banner * {
  margin: 0;
}

.opinion-banner svg {
  position: relative;
  top: .2em;
  width: 100%;
}

@media(max-width: 700px) {
  .opinion-banner {
    grid-template-columns: 35px 1fr;
  }

  .opinion-banner svg {
    grid-row: span 2;
  }
}
