/**
 * Header package
 */

.header {
  display: grid;
  gap: var(--space-sm);
  --header-family: var(--sans);
  --header-weight: bold;
  --header-transform: none;
}

.header > * {
  margin: 0;
}

.bio {
  display: grid;
  gap: var(--space-sm);
  line-height: 1.2em;
}

.bio .byline {
  margin: 0;
}

.blog-branding .teaser {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/**
 * Opinion changes
 */

.header.opinion .h1 {
  font-style: italic;
}

.header.opinion .bio {
  display: grid;
  gap: var(--space-sm);
}

.header.opinion .bio .thumb {
  position: relative;
  width: 80px;
  height: 80px;
}

.header.opinion .bio .thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/**
 * Opinion banner
 */

.opinion-banner {
  display: grid;
  grid-template-columns: 30px auto;
  grid-column-gap: var(--space-sm);
  grid-row-gap: 5px;
  justify-content: center;
  align-items: center;
  max-width: var(--section-width);
  margin: 0 auto;
  padding: var(--space-sm);
  color: var(--text-color);
  --fill-color: var(--purple);
}

.opinion-banner * {
  margin: 0;
}

.opinion-banner p {
  font: 0.75rem var(--sans);
}

@media(max-width: 700px) {
  .opinion-banner {
    grid-template-columns: 35px 1fr;
    align-items: start;
  }

  .opinion-banner svg {
    grid-row: span 2;
  }
}
