/**
 * In Depth card
 */

.in-depth {
  background-color: var(--paper-color, #373737);
}

.in-depth .package {
  --hw: bold;
}

.card.in-depth figure {
	min-height: 400px;
}

.in-depth .h1 {
  font-size: 1.75rem;
}

.in-depth .image-link-macro {
  position: initial;
}

.in-depth time,
.in-depth .time {
  flex: none;
}
