/**
 * In Depth card
 */

.in-depth {
  background-color: var(--tertiary-text-color);
}

.in-depth .package {
  --h1-size: 1.75rem;
  --header-weight: bold;
}

.card.in-depth figure {
	min-height: 400px;
}

.in-depth .image-link-macro {
  position: initial;
}

.in-depth time,
.in-depth .time {
  flex: none;
}
