.inline-cta {
  /* --spread: 10px; */
  max-width: var(--story-width);
  margin: 0 auto;
  /* background-color: var(--background-color); */
  background-color: var(--zone-background-color);
  color: var(--text-color);
  text-align: left;
}

.inline-cta.package {
  justify-content: center;
  padding: var(--space);
}

@media(max-width: 629px) {
  .inline-cta.package {
    align-items: center;
    text-align: center;
  }
}

.inline-cta .h1 {
  --header-family: var(--serif);
}

.inline-cta input {
  align-self: stretch;
}

/* .impact.inline-cta { */
  /* --zone-background-color: var(--black); */
  /* padding: 15px; */
  /* --button-color: var(--text-color); */
  /* --button-background-color: var(--secondary-background-color); */
  /* --link-decoration: underline; */
  /* --link-hover-color: #b4bbe8; */
/* } */
