.inline-cta {
  --spread: 10px;
  max-width: var(--story-width);
  margin: 0 auto;
  background-color: var(--body-color);
  text-align: left;
}

.inline-cta.package {
  justify-content: center;
  padding: 30px;
}

@media(max-width: 629px) {
  .inline-cta.package {
    align-items: center;
    text-align: center;
  }
}

.inline-cta .h1 {
  --header-font: var(--serif);
}

.inline-cta input {
  align-self: stretch;
}

.impact .inline-cta {
  padding: 15px;
  --button-color: #222;
  --button-background-color: var(--secondary-body-color);
  --link-decoration: underline;
  --link-hover-color: #b4bbe8;
}
