/**
 * Menu
 */

.main-nav {
  /* z-index: 20; */
  /* position: absolute; */
  position: fixed;
  /* top: 100%; */
  /* top: 81px; */
  top: var(--flag-height);
  left: 0;
  bottom: 0;
  width: var(--menu-width);
  /* height: calc(100vh - 76px); */
  height: calc(100vh - var(--flag-height));
  --text-color: var(--black);
  --link-color: var(--text-color);
  background-color: var(--nav-color, var(--white));
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-200%);
  transition: transform .4s ease;
  --package-gap: 0;
}

.main-nav:hover :focus {
  outline: none;
}

.main-nav.open {
  transform: translateX(0);
}

.main-nav > * {
  padding: var(--space-sm) var(--space);
}

.main-nav .h5 {
  color: var(--black)
}

.main-nav svg {
  height: 20px;
  --fill-color: var(--text-color);
}

.main-nav button,
.main-nav a,
.main-nav .search {
  width: 100%;
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}


.main-nav .subsection button {
  padding: 0;
}

.main-nav a {
  display: flex;
  gap: var(--space-sm);
}

.main-nav hr {
  border: .5px solid var(--nav-text-color, var(--gray));
  border-color: var(--media-background-color);
  margin: var(--space-sm) var(--space);
  padding: 0;
}

.main-nav .h6 {
  font-weight: bold;
}

.main-nav .expander {
  align-self: stretch;
  justify-content: space-between;
  text-align: left;
}

.main-nav .search {
  margin-top: var(--space-sm);
}

.main-nav .search form {
  border-bottom: 1px solid var(--nav-text-color, var(--white));
  width: 100%;
}

.main-nav .search form svg {
  height: 12px;
}

.main-nav .search input {
  background-color: var(--gray);
  border: none;
  color: var(--nav-text-color, var(--text-color));
  margin: 0;
  flex: 1;
}

.main-nav .search ::placeholder {
  font-size: 13.5px;
  color: var(--nav-section-text-color, var(--text-color));
}

.main-nav .search button {
  position: absolute;
  right: 30px;
  width: auto;
}

.main-nav .search button:hover {
  background-color: unset;
}

/* Replaced with custom properties */
/* @media(max-width: 767px) { */
  /* .main-nav { */
    /* top: 53px; */
    /* height: calc(100% - 53px); */
    /* width: 100%; */
    /* top: 40px; */
    /* height: calc(100vh - 40px); */
    /* width: 100vw; */
  /* } */
/* } */
