/**
 * Menu
 */

.main-nav {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  padding: var(--space);
  --text-color: var(--black);
  --link-color: var(--text-color);
  background-color: var(--nav-color, var(--white));
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateX(-150%);
  transition: transform .4s ease;
}

.main-nav:hover :focus {
  outline: none;
}

.main-nav.open {
  transform: translateX(0);
}

.main-nav svg {
  height: 20px;
  --fill-color: var(--text-color);
}

.main-nav button,
.main-nav a,
.main-nav .search,
.main-nav .option-label {
  width: 100%;
  box-sizing: border-box;
  padding: var(--space-sm) 0;
  border: none;
  border-left: 5px solid transparent;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.main-nav button {
  font-weight: bold;
}

.main-nav a,
.main-nav .option-label {
  display: block;
}

.main-nav hr {
  border: .5px solid var(--nav-text-color, var(--gray));
}

.main-nav .expander {
  align-self: stretch;
  justify-content: space-between;
  text-align: left;
}

.main-nav .expander.open,
.main-nav .expander.open + div a,
.main-nav .option-label {
  border-color: var(--nav-text-color, var(--white));
}

.main-nav .search {
  height: 58px;
}

.main-nav .search form {
  border-bottom: 1px solid var(--nav-text-color, var(--white));
  width: 100%;
  display: none;
}

.main-nav .search.open form {
  display: flex;
}

.main-nav .search.open > :not(form) {
  display: none;
}

.main-nav .search form svg {
  height: 12px;
}

.main-nav .search input {
  background-color: var(--gray);
  border: none;
  color: var(--nav-text-color, var(--text-color));
  padding-left: 0px;
  margin: 0;
  flex: 1;
}

.main-nav .search ::placeholder {
  color: var(--nav-section-text-color, var(--gray));
}

.main-nav .search button {
  padding: 0;
  width: auto;
}

.main-nav .search button:hover {
  background-color: unset;
}
