/**
 * Panel
 */

.panel {
  max-width: 100%;
  padding: 45px var(--page-padding);
  background-color: var(--secondary-body-color);
  font-family: var(--sans);
  color: var(--text-color);
  --header-font: var(--sans);
  --header-weight: bold;
  --header-transform: uppercase;
  /* --tf: var(--sans); */
  --link-color: #5169B8;
  --link-hover-color: #31409F;
  --link-decoration: underline;
}

.panel.impact {
  --secondary-body-color: var(--emphasis);
  --text-color: white;
  --link-color: var(--secondary-body-color);
  --link-decoration: underline;
  --link-hover-color: #88B1FC;
}

.panel > * {
  max-width: var(--story-width);
  margin: 20px auto;
  color: var(--tc);
}

.panel > img {
  display: block;
}

.panel .grid {
  grid-gap: var(--half-gap);
}
