/**
 * Panel
 */

.panel {
  max-width: 100%;
  padding: 45px var(--page-padding);
  background-color: var(--paper-color);
  font-family: var(--sans);
  color: var(--text-color);
  --header-family: var(--sans);
  --header-weight: bold;
  --header-transform: uppercase;
  /* --tf: var(--sans); */
  /* --link-color: var(--text-color);
  --link-hover-color: var(--link-detail-hover-color); */
  --link-decoration: underline;
}

.panel.impact {
  --secondary-background-color: var(--emphasis);
  --text-color: white;
  --link-color: var(--secondary-background-color);
  --link-decoration: underline;
  --link-hover-color: #88B1FC;
}

.panel > * {
  max-width: var(--story-width);
  margin: 20px auto;
  color: var(--text-color);
}

.panel > img {
  display: block;
}

.panel .grid {
  grid-gap: var(--space-sm);
}
