/**
 * Panel
 */

.panel {
  max-width: 100%;
  padding: 45px var(--page-padding);
  background-color: var(--paper-color);
  font-family: var(--sans);
  color: var(--tc);
  --hf: var(--sans);
  --hw: bold;
  --ht: uppercase;
  --tf: var(--sans);
  --lc: #5169B8;
  --lhc: #31409F;
  --ld: underline;
}

.panel.impact {
  --paper-color: #373737;
  --lc: white;
  --ld: underline;
  --lhc: #88B1FC;
}

.panel > * {
  max-width: var(--story-width);
  margin: 20px auto;
  color: var(--tc);
}

.panel > img {
  display: block;
}

.panel .grid {
  grid-gap: var(--half-gap);
}
