/**
 * Premium topper
 */

.topper {
  display: none;
  position: relative;
  padding: var(--space) var(--page-padding);
  background-color: var(--sub-blue);
  color: var(--sub-text-color);
  font: 1rem/1.5em var(--sans);
  --text-color: white;
  --link-color: white;
  --link-decoration: underline;
  --link-hover-color: var(--sub-secondary-text-color);
}

.msb .topper:not(.loaded) {
  min-height: 100vh;
}

.msb .topper > * {
  opacity: 0;
}

.msb .topper {
  display: block;
}

.msb .topper.loaded::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(50px + 8vw);
  background-color: var(--sub-blue);
}

/**
 * Light DOM styles for the portal
 */

.msb .topper h3 {
  --h3: 13px;
  --header-family: var(--sans);
  --header-color: var(--sub-secondary-text-color);
  --header-transform: uppercase;
}

.msb .topper [slot="headline"] {
  --h1: 8vw;
  --header-weight: normal;
  --header-leading-size: 1.1em;
  --header-family: var(--premium-serif);
  --header-color: var(--sub-text-color);
  --header-transform: none;
  margin: 0;
}

@media(min-width: 768px) {
  .msb .topper [slot="headline"] {
    --h1: 54px;
  }
}

.msb .topper li {
  padding-left: 1em;
}

.msb .topper ul li::marker {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CiAgPGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjYiIGZpbGw9IndoaXRlIi8+CiAgPGNpcmNsZSBjeD0iNiIgY3k9IjYiIHI9IjQiIGZpbGw9IiNlMjQ4NDgiLz4KPC9zdmc+Cg==");
  border: 2px solid var(--sub-text-color);
}

.msb .topper ol li::marker {
  color: var(--sub-secondary-text-color);
  font-size: .85em;
  font-weight: bold;
}

/**
 * Light DOM styles for the video embeds
 */

.embed-video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background-color: var(--text-color);
}

.embed-video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
