/**
 * Related stories
 */

.related-stories > *:last-child {
  border-bottom: 0.5px solid var(--secondary-text-color);
  padding-bottom: var(--space);
}

 .related-stories h3 {
  font-size: 0.89rem;
}

.related-stories h5 {
  font-size: 1.11rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: var(--space);
}

@media(max-width: 674px) {
  .related-stories .package::after {
    content: '';
    border-bottom: 1px solid #d9d9d9;
    width: 40px;
    display: block;
    margin-bottom: var(--space-sm);
    padding-top: 5px;
  }

  .related-stories .package:last-child::after {
    display: none;
  }
}
