/**
 * Related stories
 */

.related-stories h3 {
  font-size: 0.89rem;
}

.related-stories h5 {
  font-size: 1.11rem;
  margin-top: 0;
  margin-bottom: var(--space);
}

.related-stories hr {
  margin-top: 15px;
}

@media(max-width: 689px) {
  .related-stories .package::after {
    content: '';
    border-bottom: 1px solid #d9d9d9;
    width: 40px;
    display: block;
    margin-bottom: var(--space-sm);
    padding-top: 5px;
  }

  .related-stories .package:last-child::after {
    display: none;
  }
}
