/**
 * Related stories
 */

.related-stories {
  /* --link-color: var(--text-color);
  --link-hover-color: var(--text-color); */
}

.related-stories h5 {
  margin-top: 0;
}

.related-stories hr {
  margin-top: 15px;
}
