.section-nav {
  grid-column: 1/-1;
  /* --link-color: #707070; */
  --link-color: var(--secondary-text-color);
  --scrollbar-foreground: var(--secondary-text-color);
  --spread: 15px;
  --h1-size: x-large;
}

.section-nav .title {
  margin: 0;
}

.section-nav .slider {
  text-align: left;
}

.section-nav .row {
  padding-top: 10px;
  font: 12px var(--sans);
  text-transform: uppercase;
  /* --link-color: var(--text-color, var(--secondary-text-color)); */
  --link-hover-color: var(--text-color);
}

.section-nav .row:empty {
  display: none;
}

@media(max-width: 600px) {
  .section-nav {
    padding: var(--page-padding);
  }
}
