.section-nav {
  padding: 0;
  grid-column: 1/-1;
  --lc: #707070;
}

.section-nav .title {
  margin: 0;
}

.section-nav .title:after {
  position: relative;
  top: 3px;
}

.section-nav .expander.open + .icons {
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
}

.section-nav .icons {
  padding-top: 15px;
  flex-wrap: wrap;
  --lc: var(--tc, #707070);
  --lhc: var(--tc, #222);
}

@media(max-width: 600px) {
  .section-nav .title {
    font-size: x-large;
    text-align: center;
  }

  .section-nav .expander {
    justify-content: center;
  }

  .section-nav .icons {
    flex-direction: column;
    align-items: center;
  }
}
