.section-nav {
  grid-column: 1/-1;
  --lc: #707070;
  --scrollbar-foreground: #70707040;
  --spread: 15px;
}

.section-nav .title {
  margin: 0;
  --hs: x-large;
}

.section-nav .slider {
  text-align: left;
}

.section-nav .row {
  padding-top: 10px;
  font: 12px var(--sans);
  text-transform: uppercase;
  --lc: var(--tc, #707070);
  --lhc: var(--tc, #222);
}

.section-nav .row:empty {
  display: none;
}

@media(max-width: 600px) {
  .section-nav {
    padding: var(--page-padding);
  }
}
