/**
 * Series nav
 */

.series-nav {
  padding: 0;
}

.series-nav .package {
  padding: 0;
}

.series-nav hr {
  border-color: var(--text-color, #dfdfdf);
}

.series-nav .summary {
  color: var(--text-color, #707070);
}

.series-nav .article {
  display: flex;
}

.series-nav .article figure {
  width: 80px;
}

/** Unnecessary in 1.12 */
.series-nav .article img {
  padding: 0;
}

.series-nav .article h4 {
  flex: 1;
  padding: 0 15px;
  margin: 0;
  max-width: 375px;
}
