/**
 * Series nav
 */

.series-nav,
.series-nav .package {
  padding: 0;
}

.series-nav hr {
  border-color: var(--series-nav-color, var(--secondary-text-color));
}

.series-nav .summary {
  color: var(--secondary-text-color);
}

.series-nav .article {
  display: flex;
}

.series-nav .article figure {
  width: 80px;
}

.series-nav .article h4 {
  flex: 1;
  max-width: 375px;
  margin: 0;
  padding: 0 15px;
}
