/**
 * Story body
 */

.story-body {
  display: flow-root;
  font: 18px/1.5em var(--serif);
  --hf: var(--sans);
  --ht: uppercase;
  --lc: #5169B8;
  --lhc: #31409F;
  --ld: underline;
  color: var(--tc);
}

.story-body > * {
  max-width: var(--story-width);
  margin: 20px auto;
  padding: 0 var(--page-padding);
}

.story-body > .header {
  margin: 40px auto;
}

/**
 * Embeds
 */

.story-body .embed-infographic {
  max-width: var(--story-embed-width);
}

.embed-infographic > * {
  max-width: 100%;
}

/**
 * Media options
 */

.story-body > figure,
.story-body > .figure,
.story-body > .inline-video {
  max-width: var(--story-media-width);
  margin: 30px auto;
  padding: 0;
}

.story-body .wide {
  max-width: 970px;
}

.story-body .full-bleed {
  max-width: 100%;
  padding: 0;
}

.story-body > .full-bleed:first-child {
  margin-top: 0;
}

.story-body figure,
.story-body .figure {
  --spread: 10px;
}

.story-body figure .package,
.story-body .figure .package {
  padding: 0px;
}

@media(max-width: 768px) {
  .story-body > figure,
  .story-body > .figure {
    max-width: 100%;
  }

  .story-body figcaption,
  .story-body figure .package,
  .story-body .figure .package {
    padding: 0px 15px;
  }
}

@media(max-width: 990px) {
  .story-body .wide figcaption,
  .story-body figure.wide .package,
  .story-body .figure.wide .package {
    padding: 0px 15px;
  }
}

.story-body .full-bleed figcaption,
.story-body figure.full-bleed .package,
.story-body .figure.full-bleed .package {
  padding: 0px 15px;
}

/**
 * Mugshots
 */

.story-body .mugshot {
  padding: 0 15px;
}

.story-body .mugshot .img-container {
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-gap: var(--half-gap);
}

.story-body .mugshot figcaption {
  padding: 0;
  align-self: end;
}

/**
 * Immersive card 
 */

.story-body > .immersive {
  max-width: 100%;
  margin-top: 0;
  padding-top: 0;
}

/**
 * Panel settings for story bodies
 */

.story-body .panel {
  background-color: var(--body-color);
}

/*
 * Connatix AI generated lead video
 */

.cnx-lead-wrapper {
  height: auto;
  border-top: 8px solid var(--tertiary-body-color);
  border-bottom: 3px solid var(--tertiary-body-color);
  margin-bottom: var(--gap);
  padding-bottom: 10px;
}

.cnx-lead-wrapper::before {
  content: "From our partners";
  display: block;
  font-family: var(--sans);
  font-size: var(--h3);
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0;
}
 
/*
 * AMP stuff
 */

.amp-rm-wrapper {
  position: relative;
  z-index: 99;
  display: grid;
  place-items: center;
  margin: -100px auto 0;
  padding: 100px 30px 30px;
  background: linear-gradient(transparent, rgba(255,255,255,0.7) 20%, white 45%);
}

/**
 * Newsgate tagging
 */

.story-body .ng_leadin {
  font: 700 18px var(--sans);
  text-transform: uppercase;
}

.story-body .ng_endnote_contact,
.story-body .ng_endnote_contact p {
  font: italic 400 14px var(--sans);
}


/**
 * Fixes for HTML discrepencies
 */

.story-body .lead-item figcaption {
  padding-top: 10px;
}

