/**
 * Story body
 */

.story-body {
  display: flow-root;
  font-family: var(--story-font, var(--serif));
  color: var(--story-text-color, var(--text-color));
  background-color: var(--story-background-color, var(--paper-color));
  --header-family: var(--story-subhead-family, var(--sans));
  --header-transform: var(--story-subhead-transform, inherit);
}

.story-body > * {
  max-width: var(--story-width);
  margin: var(--space) auto;
  padding: 0 var(--page-padding);
}

.story-body > .header {
  margin: 20px auto 20px;
}

@media (min-width: 768px) {
  .story-body > .header {
    margin-top: 40px;
  }
}

.story-body > h3:not(.h3) {
  font-size: var(--h2);
}

.story-body p {
  line-height: 1.66em;
}

.story-body p,
.story-body ol,
.story-body ul {
  --link-hover-decoration: underline;
}

/**
 * Embeds
 */

.story-body .embed-infographic {
  max-width: var(--story-embed-width);
}

.embed-infographic > * {
  max-width: 100%;
}

/**
 * Media options
 */

.story-body > figure,
.story-body > .figure,
.story-body > .inline-video {
  max-width: var(--story-media-width);
  margin: 30px auto;
}

.story-body .wide {
  max-width: max(970px, var(--story-media-width));
}

.story-body .full-bleed {
  max-width: 100%;
  padding: 0;
}

.story-body > .full-bleed:first-child {
  margin-top: 0;
  background-color: var(--paper-color);
}

/**
 * Inline video 
 */

.story-body > .inline-video {
  box-sizing: border-box;
  max-width: calc(var(--story-media-width) + (var(--page-padding) * 2));
}

/**
 * Mugshots
 */

.story-body .mugshot {
  padding: 0 var(--space);
  float: revert;
}

.story-body .mugshot .img-container {
  display: grid;
  grid-template-columns: 125px;
  grid-gap: var(--space-sm);
}

.story-body .mugshot figcaption {
  padding: 0;
  align-self: end;
}

/**
 * Panel settings for story bodies
 */

.story-body .panel {
  background-color: var(--background-color);
}

/*
 * AMP stuff
 */

.amp-rm-wrapper {
  position: relative;
  z-index: 99;
  display: grid;
  place-items: center;
  margin: -100px auto 0;
  padding: 100px 30px 30px;
  background: linear-gradient(transparent, rgba(255,255,255,0.7) 20%, white 45%);
}

/**
 * Newsgate tagging
 */

.story-body .ng_leadin {
  font: 700 18px var(--sans);
  text-transform: uppercase;
}

.story-body .ng_endnote_contact,
.story-body .ng_endnote_contact p {
  font: italic 400 14px var(--sans);
}


/**
 * Fixes for HTML discrepencies
 */

.story-body .lead-item figcaption {
  padding-top: 10px;
}

/**
 * Block quotes
 */

.quote {
  font-family: var(--sans);
  max-width: 600px;
  padding: 20px 0;
}

.quote blockquote {
  margin: 0;
  font: bold var(--block-quote-font-size, 24px) / 1.33em var(--sans);
}

.quote blockquote:before {
  content: '';
  display: block;
  width: 32px;
  height: 24px;
  background-color: var(--block-quote-icon-color, var(--darkgray));
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDMyIDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTcuMjczMTIgOS41NzExNEM2LjkxNzM3IDkuNTcxMTQgNi41NzU5OSA5LjYyNTY1IDYuMjM2MiA5LjY3NTM1QzYuMzQ2MjcgOS4zMDM0IDYuNDU5NTQgOC45MjUwNSA2LjY0MTQgOC41ODUxN0M2LjgyMzI1IDguMDkxMzggNy4xMDcyMSA3LjY2MzMzIDcuMzg5NTcgNy4yMzIwNkM3LjYyNTY3IDYuNzY1NTMgOC4wNDIwMyA2LjQ0OTcgOC4zNDgzMSA2LjA1MDVDOC42Njg5NiA1LjY2MjUyIDkuMTA2MDYgNS40MDQ0MSA5LjQ1MjIzIDUuMDgyMTZDOS43OTIwMiA0Ljc0NTQ5IDEwLjIzNzEgNC41NzcxNSAxMC41OTEyIDQuMzM5ODhDMTAuOTYxMyA0LjEyNjY1IDExLjI4MzYgMy44OTA5OCAxMS42MjgyIDMuNzc4NzZMMTIuNDg4IDMuNDIyODRMMTMuMjQ0MSAzLjEwNzAxTDEyLjQ3MDQgMEwxMS41MTgxIDAuMjMwODYxQzExLjIxMzQgMC4zMDc4MTUgMTAuODQxNyAwLjM5NzU5NCAxMC40MTkgMC41MDUwMDlDOS45ODY2NCAwLjU4NTE3IDkuNTI1NjEgMC44MDQ4MDkgOS4wMTE5NCAxLjAwNTIxQzguNTA0NjUgMS4yMzI4NyA3LjkxNzYgMS4zODY3NyA3LjM3MjAyIDEuNzUyM0M2LjgyMzI1IDIuMTAxOCA2LjE4OTk0IDIuMzkzNTkgNS42MzE2IDIuODYxNzJDNS4wOTA4MSAzLjM0NDI5IDQuNDM4MzUgMy43NjI3MyAzLjk1NjU5IDQuMzc2NzVDMy40MzAxNSA0Ljk1MDcgMi45MTAxIDUuNTUzNTEgMi41MDY1IDYuMjM5NjhDMi4wMzkwOSA2Ljg5Mzc5IDEuNzIxNjQgNy42MTIwMiAxLjM4NjY0IDguMzIyMjRDMS4wODM1NCA5LjAzMjQ2IDAuODM5NDY1IDkuNzU4NzIgMC42NDAwNTkgMTAuNDY0MUMwLjI2MTk4NCAxMS44NzgyIDAuMDkyODg3MSAxMy4yMjE2IDAuMDI3NDgxOCAxNC4zNzExQy0wLjAyNjc1NjggMTUuNTIyMiAwLjAwNTE0ODI4IDE2LjQ3OTQgMC4wNzIxNDg5IDE3LjE3MTlDMC4wOTYwNzc2IDE3LjQ5OSAwLjE0MDc0NSAxNy44MTY0IDAuMTcyNjUgMTguMDM2MUwwLjIxMjUzMSAxOC4zMDU0TDAuMjU0MDA3IDE4LjI5NThDMC41Mzc3NDEgMTkuNjI3OCAxLjE5MDkgMjAuODUxOCAyLjEzNzk0IDIxLjgyNjNDMy4wODQ5OCAyMi44MDA4IDQuMjg3MTkgMjMuNDg2IDUuNjA1NSAyMy44MDI1QzYuOTIzODEgMjQuMTE5IDguMzA0MzYgMjQuMDU0IDkuNTg3NDMgMjMuNjE1QzEwLjg3MDUgMjMuMTc1OSAxMi4wMDM3IDIyLjM4MDggMTIuODU1OSAyMS4zMjE1QzEzLjcwODEgMjAuMjYyMiAxNC4yNDQ0IDE4Ljk4MjIgMTQuNDAzIDE3LjYyOTNDMTQuNTYxNSAxNi4yNzY1IDE0LjMzNTcgMTQuOTA2MiAxMy43NTE2IDEzLjY3N0MxMy4xNjc2IDEyLjQ0NzggMTIuMjQ5MiAxMS40MDk4IDExLjEwMjggMTAuNjgzMkM5Ljk1NjI3IDkuOTU2NiA4LjYyODUzIDkuNTcxMDUgNy4yNzMxMiA5LjU3MTE0Wk0yNC44MjA5IDkuNTcxMTRDMjQuNDY1MSA5LjU3MTE0IDI0LjEyMzggOS42MjU2NSAyMy43ODQgOS42NzUzNUMyMy44OTQgOS4zMDM0IDI0LjAwNzMgOC45MjUwNSAyNC4xODkyIDguNTg1MTdDMjQuMzcxIDguMDkxMzggMjQuNjU1IDcuNjYzMzMgMjQuOTM3MyA3LjIzMjA2QzI1LjE3MzQgNi43NjU1MyAyNS41ODk4IDYuNDQ5NyAyNS44OTYxIDYuMDUwNUMyNi4yMTY3IDUuNjYyNTIgMjYuNjUzOCA1LjQwNDQxIDI3IDUuMDgyMTZDMjcuMzM5OCA0Ljc0NTQ5IDI3Ljc4NDkgNC41NzcxNSAyOC4xMzkgNC4zMzk4OEMyOC41MDkxIDQuMTI2NjUgMjguODMxMyAzLjg5MDk4IDI5LjE3NTkgMy43Nzg3NkwzMC4wMzU4IDMuNDIyODRMMzAuNzkxOSAzLjEwNzAxTDMwLjAxODIgMEwyOS4wNjU4IDAuMjMwODYxQzI4Ljc2MTIgMC4zMDc4MTUgMjguMzg5NSAwLjM5NzU5NCAyNy45NjY3IDAuNTA1MDA5QzI3LjUzNDQgMC41ODUxNyAyNy4wNzM0IDAuODA0ODA5IDI2LjU1OTcgMS4wMDUyMUMyNi4wNTQgMS4yMzQ0NyAyNS40NjU0IDEuMzg2NzcgMjQuOTE5OCAxLjc1MzkxQzI0LjM3MSAyLjEwMzQxIDIzLjczNzcgMi4zOTUxOSAyMy4xNzk0IDIuODYzMzNDMjIuNjM4NiAzLjM0NTg5IDIxLjk4NjEgMy43NjQzMyAyMS41MDQ0IDQuMzc2NzVDMjAuOTc3OSA0Ljk1MDcgMjAuNDU3OSA1LjU1MzUxIDIwLjA1NDMgNi4yMzk2OEMxOS41ODY5IDYuODkzNzkgMTkuMjY5NCA3LjYxMjAyIDE4LjkzNDQgOC4zMjIyNEMxOC42MzEzIDkuMDMyNDYgMTguMzg3MiA5Ljc1ODcyIDE4LjE4NzggMTAuNDY0MUMxNy44MDk4IDExLjg3ODIgMTcuNjQwNyAxMy4yMjE2IDE3LjU3NTMgMTQuMzcxMUMxNy41MjEgMTUuNTIyMiAxNy41NTI5IDE2LjQ3OTQgMTcuNjE5OSAxNy4xNzE5QzE3LjY0MzggMTcuNDk5IDE3LjY4ODUgMTcuODE2NCAxNy43MjA0IDE4LjAzNjFMMTcuNzYwMyAxOC4zMDU0TDE3LjgwMTggMTguMjk1OEMxOC4wODU1IDE5LjYyNzggMTguNzM4NyAyMC44NTE4IDE5LjY4NTcgMjEuODI2M0MyMC42MzI3IDIyLjgwMDggMjEuODM1IDIzLjQ4NiAyMy4xNTMzIDIzLjgwMjVDMjQuNDcxNiAyNC4xMTkgMjUuODUyMSAyNC4wNTQgMjcuMTM1MiAyMy42MTVDMjguNDE4MyAyMy4xNzU5IDI5LjU1MTQgMjIuMzgwOCAzMC40MDM2IDIxLjMyMTVDMzEuMjU1OCAyMC4yNjIyIDMxLjc5MjIgMTguOTgyMiAzMS45NTA3IDE3LjYyOTNDMzIuMTA5MiAxNi4yNzY1IDMxLjg4MzQgMTQuOTA2MiAzMS4yOTk0IDEzLjY3N0MzMC43MTU0IDEyLjQ0NzggMjkuNzk3IDExLjQwOTggMjguNjUwNSAxMC42ODMyQzI3LjUwNCA5Ljk1NjYgMjYuMTc2MyA5LjU3MTA1IDI0LjgyMDkgOS41NzExNFoiIGZpbGw9IiM0QjU5NzIiLz4KPC9zdmc+Cg==');
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDMyIDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTcuMjczMTIgOS41NzExNEM2LjkxNzM3IDkuNTcxMTQgNi41NzU5OSA5LjYyNTY1IDYuMjM2MiA5LjY3NTM1QzYuMzQ2MjcgOS4zMDM0IDYuNDU5NTQgOC45MjUwNSA2LjY0MTQgOC41ODUxN0M2LjgyMzI1IDguMDkxMzggNy4xMDcyMSA3LjY2MzMzIDcuMzg5NTcgNy4yMzIwNkM3LjYyNTY3IDYuNzY1NTMgOC4wNDIwMyA2LjQ0OTcgOC4zNDgzMSA2LjA1MDVDOC42Njg5NiA1LjY2MjUyIDkuMTA2MDYgNS40MDQ0MSA5LjQ1MjIzIDUuMDgyMTZDOS43OTIwMiA0Ljc0NTQ5IDEwLjIzNzEgNC41NzcxNSAxMC41OTEyIDQuMzM5ODhDMTAuOTYxMyA0LjEyNjY1IDExLjI4MzYgMy44OTA5OCAxMS42MjgyIDMuNzc4NzZMMTIuNDg4IDMuNDIyODRMMTMuMjQ0MSAzLjEwNzAxTDEyLjQ3MDQgMEwxMS41MTgxIDAuMjMwODYxQzExLjIxMzQgMC4zMDc4MTUgMTAuODQxNyAwLjM5NzU5NCAxMC40MTkgMC41MDUwMDlDOS45ODY2NCAwLjU4NTE3IDkuNTI1NjEgMC44MDQ4MDkgOS4wMTE5NCAxLjAwNTIxQzguNTA0NjUgMS4yMzI4NyA3LjkxNzYgMS4zODY3NyA3LjM3MjAyIDEuNzUyM0M2LjgyMzI1IDIuMTAxOCA2LjE4OTk0IDIuMzkzNTkgNS42MzE2IDIuODYxNzJDNS4wOTA4MSAzLjM0NDI5IDQuNDM4MzUgMy43NjI3MyAzLjk1NjU5IDQuMzc2NzVDMy40MzAxNSA0Ljk1MDcgMi45MTAxIDUuNTUzNTEgMi41MDY1IDYuMjM5NjhDMi4wMzkwOSA2Ljg5Mzc5IDEuNzIxNjQgNy42MTIwMiAxLjM4NjY0IDguMzIyMjRDMS4wODM1NCA5LjAzMjQ2IDAuODM5NDY1IDkuNzU4NzIgMC42NDAwNTkgMTAuNDY0MUMwLjI2MTk4NCAxMS44NzgyIDAuMDkyODg3MSAxMy4yMjE2IDAuMDI3NDgxOCAxNC4zNzExQy0wLjAyNjc1NjggMTUuNTIyMiAwLjAwNTE0ODI4IDE2LjQ3OTQgMC4wNzIxNDg5IDE3LjE3MTlDMC4wOTYwNzc2IDE3LjQ5OSAwLjE0MDc0NSAxNy44MTY0IDAuMTcyNjUgMTguMDM2MUwwLjIxMjUzMSAxOC4zMDU0TDAuMjU0MDA3IDE4LjI5NThDMC41Mzc3NDEgMTkuNjI3OCAxLjE5MDkgMjAuODUxOCAyLjEzNzk0IDIxLjgyNjNDMy4wODQ5OCAyMi44MDA4IDQuMjg3MTkgMjMuNDg2IDUuNjA1NSAyMy44MDI1QzYuOTIzODEgMjQuMTE5IDguMzA0MzYgMjQuMDU0IDkuNTg3NDMgMjMuNjE1QzEwLjg3MDUgMjMuMTc1OSAxMi4wMDM3IDIyLjM4MDggMTIuODU1OSAyMS4zMjE1QzEzLjcwODEgMjAuMjYyMiAxNC4yNDQ0IDE4Ljk4MjIgMTQuNDAzIDE3LjYyOTNDMTQuNTYxNSAxNi4yNzY1IDE0LjMzNTcgMTQuOTA2MiAxMy43NTE2IDEzLjY3N0MxMy4xNjc2IDEyLjQ0NzggMTIuMjQ5MiAxMS40MDk4IDExLjEwMjggMTAuNjgzMkM5Ljk1NjI3IDkuOTU2NiA4LjYyODUzIDkuNTcxMDUgNy4yNzMxMiA5LjU3MTE0Wk0yNC44MjA5IDkuNTcxMTRDMjQuNDY1MSA5LjU3MTE0IDI0LjEyMzggOS42MjU2NSAyMy43ODQgOS42NzUzNUMyMy44OTQgOS4zMDM0IDI0LjAwNzMgOC45MjUwNSAyNC4xODkyIDguNTg1MTdDMjQuMzcxIDguMDkxMzggMjQuNjU1IDcuNjYzMzMgMjQuOTM3MyA3LjIzMjA2QzI1LjE3MzQgNi43NjU1MyAyNS41ODk4IDYuNDQ5NyAyNS44OTYxIDYuMDUwNUMyNi4yMTY3IDUuNjYyNTIgMjYuNjUzOCA1LjQwNDQxIDI3IDUuMDgyMTZDMjcuMzM5OCA0Ljc0NTQ5IDI3Ljc4NDkgNC41NzcxNSAyOC4xMzkgNC4zMzk4OEMyOC41MDkxIDQuMTI2NjUgMjguODMxMyAzLjg5MDk4IDI5LjE3NTkgMy43Nzg3NkwzMC4wMzU4IDMuNDIyODRMMzAuNzkxOSAzLjEwNzAxTDMwLjAxODIgMEwyOS4wNjU4IDAuMjMwODYxQzI4Ljc2MTIgMC4zMDc4MTUgMjguMzg5NSAwLjM5NzU5NCAyNy45NjY3IDAuNTA1MDA5QzI3LjUzNDQgMC41ODUxNyAyNy4wNzM0IDAuODA0ODA5IDI2LjU1OTcgMS4wMDUyMUMyNi4wNTQgMS4yMzQ0NyAyNS40NjU0IDEuMzg2NzcgMjQuOTE5OCAxLjc1MzkxQzI0LjM3MSAyLjEwMzQxIDIzLjczNzcgMi4zOTUxOSAyMy4xNzk0IDIuODYzMzNDMjIuNjM4NiAzLjM0NTg5IDIxLjk4NjEgMy43NjQzMyAyMS41MDQ0IDQuMzc2NzVDMjAuOTc3OSA0Ljk1MDcgMjAuNDU3OSA1LjU1MzUxIDIwLjA1NDMgNi4yMzk2OEMxOS41ODY5IDYuODkzNzkgMTkuMjY5NCA3LjYxMjAyIDE4LjkzNDQgOC4zMjIyNEMxOC42MzEzIDkuMDMyNDYgMTguMzg3MiA5Ljc1ODcyIDE4LjE4NzggMTAuNDY0MUMxNy44MDk4IDExLjg3ODIgMTcuNjQwNyAxMy4yMjE2IDE3LjU3NTMgMTQuMzcxMUMxNy41MjEgMTUuNTIyMiAxNy41NTI5IDE2LjQ3OTQgMTcuNjE5OSAxNy4xNzE5QzE3LjY0MzggMTcuNDk5IDE3LjY4ODUgMTcuODE2NCAxNy43MjA0IDE4LjAzNjFMMTcuNzYwMyAxOC4zMDU0TDE3LjgwMTggMTguMjk1OEMxOC4wODU1IDE5LjYyNzggMTguNzM4NyAyMC44NTE4IDE5LjY4NTcgMjEuODI2M0MyMC42MzI3IDIyLjgwMDggMjEuODM1IDIzLjQ4NiAyMy4xNTMzIDIzLjgwMjVDMjQuNDcxNiAyNC4xMTkgMjUuODUyMSAyNC4wNTQgMjcuMTM1MiAyMy42MTVDMjguNDE4MyAyMy4xNzU5IDI5LjU1MTQgMjIuMzgwOCAzMC40MDM2IDIxLjMyMTVDMzEuMjU1OCAyMC4yNjIyIDMxLjc5MjIgMTguOTgyMiAzMS45NTA3IDE3LjYyOTNDMzIuMTA5MiAxNi4yNzY1IDMxLjg4MzQgMTQuOTA2MiAzMS4yOTk0IDEzLjY3N0MzMC43MTU0IDEyLjQ0NzggMjkuNzk3IDExLjQwOTggMjguNjUwNSAxMC42ODMyQzI3LjUwNCA5Ljk1NjYgMjYuMTc2MyA5LjU3MTA1IDI0LjgyMDkgOS41NzExNFoiIGZpbGw9IiM0QjU5NzIiLz4KPC9zdmc+Cg==');
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-bottom: 10px;
}

.quote blockquote::after {
  content: '';
  display: block;
  width: 50px;
  margin-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid #D0DAE7;
}

.quote p {
  color: var(--block-quote-icon-color, var(--darkgray));
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.quote cite {
  color: var(--block-quote-icon-color, var(--darkgray));
  font: var(--block-quote-attribution-font-size, 14px) / 1.4em var(--sans);
  font-weight: var(--block-quote-attribution-font-weight, normal);
}