/**
 * Transparency
 */

.transparency {
	max-width: 100%;
	padding: 15px;
	background-color: var(--body-color);
}

.transparency > * {
  	margin: 15px auto;
	max-width: var(--story-width);
}

.transparency .expander {
	justify-content: space-between;
}

.question {
	--header-family: var(--serif);
	--header-weight: 400;
	--header-transform: none;
}
