/**
 * Utilities
 */

.cutout {
  background-color: var(--background-color);
}

.gray {
  color: var(--text-color, var(--gray));
  --button-background-color: var(--text-color, var(--gray));
}

.no-caps {
  text-transform: none;
}

.center-text {
  text-align: center;
  align-items: center;
}

.serif {
  font-family: var(--serif);
  --header-family: var(--serif);
}

.sans {
  font-family: var(--sans);
  --header-family: var(--sans);
}

.bold {
  font-weight: bold;
  --header-weight: bold;
}

.soft {
  font-weight: normal;
  --header-weight: normal;
}

.small {
  font-size: small;
}

.flush {
  padding: 0;
}

.error {
  color: #d63031;
}

.cap-width {
  max-width: var(--cap-width, 100%);
}

/**
 * Display classes
 */

.h-phone,
.d-tablet,
.d-desktop {
  display: none;
}

@media (min-width: 768px) {
  .h-tablet {
    display: none;
  }

  .h-phone,
  .d-tablet {
    display: var(--display, block);
  }
}

@media (min-width: 1024px) {
  .h-desktop {
    display: none;
  }

  .d-desktop {
    display: var(--display, block);
  }
}

/**
 * msb toggles
 */

.msb-show,
.msb .msb-hide {
  display: none;
}

.msb .msb-show {
  display: var(--display, block);
}

/**
 * Forced image crops
 */

.cropped-img,
.square-img,
.circle-img {
  position: relative;
  overflow: hidden;
  width: var(--img-size, 90px);
  height: var(--img-size, 90px);
}

.cropped-img {
  --img-size: 100%;
}

.circle-img {
  border-radius: 50%;
}

.cropped-img img,
.square-img img,
.circle-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

/**
 * To ensure these work in as many cases as possible 
 * they're placed as the last thing in the system.
 */

.hidden, [hidden] {
  display: none;
}

.zone-el.hidden,
.grid > .zone-el.hidden {
  display: none;
}

/**
 * Purple Tuesdays
 */

form[id^=bx-form] {
  display: block;
}

.mi-sticky-player {
  --header-transform: none;
}

.mi-sticky-player figcaption {
  line-height: 15px;
  font-size: 14px;
}

.videoIngest .card.read-next {
  display: block;
}

.partner-label {
  position: relative;
  grid-column: 1/-1;
  font: 700 1.8rem var(--serif);
  color: var(--header-color)
}

@media(max-width: 600px) {
  .partner-label {
    margin: 0 var(--page-padding);
  }
}

.partner-label::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  width: 100%;
  height: 4px;
  background-color: #ddd;
} */

.partner-label span {
  position: relative;
  padding-right: 15px;
  background-color: var(--background-color);
}

#newsletter-signUpWidget {
  --header-color: var(--black);
  --text-color: var(--black);
  --link-color: #3C4D87;
  --link-hover-color: #5169B8;
}

/*
 * WPS breaks from recommended DOM
 */

figure .img-container figcaption,
.inline-video figcaption {
  padding-top: 10px;
}
