/**
 * Utilities
 */

.cutout {
  background-color: var(--bodyBackground);
}

.gray {
  color: var(--tc, var(--gray));
  --bbc: var(--tc, var(--gray));
}

.no-caps {
  text-transform: none;
}

.center-text {
  text-align: center;
  align-items: center;
}

.serif {
  font-family: var(--serif);
  --hf: var(--serif);
}

.sans {
  font-family: var(--sans);
  --hf: var(--sans);
}

.bold {
  font-weight: bold;
  --hw: bold;
}

.soft {
  font-weight: normal;
  --hw: normal;
}

.small {
  font-size: small;
}

.flush {
  padding: 0;
}

/**
 * Display classes
 */

.h-phone,
.d-tablet,
.d-desktop {
  display: none;
}

@media (min-width: 768px) {
  .h-tablet {
    display: none;
  }

  .h-phone,
  .d-tablet {
    display: var(--display, block);
  }
}

@media (min-width: 1024px) {
  .h-desktop {
    display: none;
  }

  .d-desktop {
    display: var(--display, block);
  }
}

/**
 * msb toggles
 */

.msb-show,
.msb .msb-hide {
  display: none;
}

.msb .msb-show {
  display: var(--display, block);
}

/**
 * To ensure these work in as many cases as possible 
 * they're placed as the last thing in the system.
 */

.hidden, [hidden] {
  display: none;
}

.zone-el.hidden,
.grid > .zone-el.hidden {
  display: none;
}

/**
 * Purple Tuesdays
 */

form[id^=bx-form] {
  justify-items: center;
}

.mi-sticky-player {
  --ht: none;
}

.mi-sticky-player figcaption {
  font-size: 14px;
  line-height: 15px;
}
