/**
 * Zones
 */

.zone {
  display: grid;
  clear: both;
  background-color: var(--ad-background);
  padding: var(--page-padding) 0; 
}

/**
 * Zone treatment inside grids
 */

.grid .zone {
  grid-column-end: -1;
}

/*
 * Zones inside story bodies
 */

.story-body > .zone {
  display: flex;
  justify-content: center;
  max-width: unset;
  margin: 0;
  box-sizing: border-box;
}

.zone.combo {
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-items: center;
}

.zone.clear {
  background-color: unset;
}

/**
 * Custom changes
 */

#zone-el-2 {
  position: relative;
  background-color: var(--black);
  padding: 15px 0;
}

#zeus_top-banner {
  padding: 15px 0;
}
