<!-- breaking news banner (for demo purposes) -->
<div class="breaking-news-organism impact" id="primary-content">
  <div class="breaking-news-macro">
      <div>
          <h3 class="h4"><span class="breaking-title">BREAKING NEWS:  </span> <a href="https://alpha.montrealgazette.com/site-services/Newsletters/montreal-sports-newsletter/article54991.html"> Cricket is treated as the celebration in India </a></h3>
      </div>
      <div class="close-breaking-news">
        <div class="icon-wrap">
          <span class="glyphicon glyphicon-times close-breaking-news"></span>
        </div>
      </div>
  </div>
</div>