.panel {
  margin: 0;
  --paper-color: white !important;
  align-content: start;
}

/* .panel:nth-child(odd) { */
/*   --paper-color: #d4d4d4; */
/* } */

/* .panel:nth-child(even) { */
/*   --paper-color: #c4c4c4; */
/* } */

.market {
  display: grid;
  gap: 20px;
}

.market > * {
  margin: 0;
}

.market .h1,
.market .h2 {
  --header-transform: none;
  --header-family: var(--serif);
  --header-weight: normal;
  font-size: 3rem;
  letter-spacing: -.08em;
}

.market .h2 {
  font-size: 2rem;
}

.market-logos img {
  max-height: 40px;
}

.market-icons img {
  max-height: 80px;
}

.panel {
  border-top: 1px solid #ddd;
}

.panel .assets {
  gap: 60px;
}

.pack {
  display: grid;
  gap: 10px;
  align-content: start;
}

.impact {
  --secondary-body-color: var(--gray);
  padding: 5px;
}

.pack > * {
  margin: 0;
}

.lowercase {
  --header-transform: none;
}

.vertical {
  grid-column: 1/-1;
}
