/*
 * Style guide native defaults
 */

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
  }

  .panels {
    position: relative;
    display: grid;
    grid-template-columns: 400px 1fr;
    overflow: hidden;
  }

  .panels > * {
    height: 100%;
    overflow: scroll;
  }

  .list {
    max-width: 400px;
    order: 1;
  }

  .details {
    order: 2;
  }
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  box-sizing: content-box;
  font: 0.875rem var(--sans);
}

td {
  padding: 5px 0;
}

th {
  padding-bottom: 8px;
}

td:first-child {
  font-weight: bold;
  width: 150px;
}

.story-body > hr {
  margin: 50px auto;
  box-sizing: border-box;
}

pre {
  font-size: 0.875rem;
  line-height: 1.3em;
}

/*
 * Style guide main rules.
 */

.example {
  max-width: 1140px;
  padding: 15px;
  background-color: #f4f4f4;
  --lc: #222;
}

.example:last-child {
  margin-bottom: 0;
}

.example.grid {
  justify-content: center;
}

.example.shadow .paper,
.example.shadow > .card,
.paper.shadow {
  box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .13);
}

.updated {
  display: block;
  font-size: small;
  color: #377f6a;
}

.list {
  position: relative;
  background-color: #f4f4f4;
  box-sizing: border-box;
  z-index: 1;
  font: 0.875rem var(--sans);
  gap: 0;
}

.list > div {
  display: grid;
  gap: var(--gap);
  padding: 0 15px 15px;
  border-top: 1px solid #ddd;
}

.list .cards {
  background-color: #FDFDF6;
}

.list .themes {
  background-color: #C0D9F8;
}

.list .eds-shasta {
  background-color: #5169B8;
  color: white;
  --lc: white;
  --lhc: white;
}

.list .eds-pegacorn {
  background-color: #808CD8;
}

.list .eds-dumbledore {
  background-color: #31409F;
  color: white;
  --lc: white;
  --lhc: white;
}

.list .package.active {
  background-color: #377f6a;
  --lc: white;
  --lhc: white;
  --tc: white;
}

.list a.active {
  color: #377f6a;
}

.list .package.eds-active {
  background-color: #31409F;
  color: white;
  --lc: white;
  --lhc: white;
}

.list a.eds-active {
  color: #31409F;
}

.list .package.eds-active p.summary {
  --tc: white;
}

.list .new:after {
  content: url(../icons/certificate.svg);
  display: inline-block;
  height: 1em;
  width: 1em;
  position: relative;
  left: 5px;
  top: 2px
}

.list .dep {
  text-decoration: line-through;
  color: #999;
}

.details {
  position: relative;
  z-index: 2;
}

.page-header {
  margin-top: 0;
  padding-top: 30px;
}

.note {
  background-color: #e9ead8;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px;
  --hf: var(--sans);
  --hw: 700;
}

.note.dep {
  background-color: #6bb1b9;
  color: white;
}

/**
 * Phone view
 */

.phone {
  width: 375px;
  margin: 0 auto;
}
