/**
 * Theming page file
 */

.panel {
  padding: var(--page-padding)
}

section.grid {
  max-width: var(--section-width);
  --paper-color: white;
}

.story-body > h2 {
  font: normal 1.8rem var(--serif);
  text-transform: none;
}

.permalink {
  cursor: pointer;
}

.permalink::after {
  content: "🔗";
  font-size: 12px;
  vertical-align: middle;
  margin-left: 5px;
  filter: grayscale(1);
}


.story-body code {
  font-size: .8rem;
}

.color-example {
  max-width: var(--story-width);
  justify-content: center;
  grid-template-columns: minmax(auto, var(--story-width));
}

.custom {
  --button-background-color: lightblue;
  --button-color: var(--black);
  --paper-color: lightblue;
  --text-color: var(--black);
}

.panel.factbox {
  box-sizing: border-box;
  max-width: var(--story-width);
}

.tip {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 5px;
  --header-transform: none;
}

.tip + * {
  margin-top: 45px;
}

.tip::before {
  content: "💡";
  font-size: 2em;
  filter: grayscale(1);
}

mc-toast {
  font-family: var(--sans);
}

.test-card {
  display: grid;
  place-items: center;
  padding: var(--gap);
  grid-column: 1/-1;
}
