/*****
 ** DSP offer molecule
 ****/

.dsp-offer {
  --hf: var(--serif);
  --ht: none;
  display: grid;
  grid-gap: 10px;
  padding: 0px 15px 30px;
  text-align: center;
  justify-items: center;
}

.dsp-offer .package {
  --ps: 5px;
  padding: 0;
  align-items: center;
}

.dsp-offer .h1 {
  font-size: 40px;
}

.dsp-offer .label *{
    color: var(--dark); 
}

.dsp-offer .offer-price {
    font: 700 19px/28px var(--sans);
}       

.dsp-offer .summary {
  margin: 0;
  opacity: 0.8;
}

.dsp-offer .button {
  align-self: unset;
}

.dsp-offer .offer-terms {
  color: var(--tc, #707070);
  font: 400 0.75rem/1.2em var(--sans);
  --lc: #5169B8;
  max-width: 300px;
}

@media (min-width: 900px) {  
  .dsp-offer .h1 {
    font-size: 48px;
  }
 
}

/**
 * Alternate versions
 */

.primary {
  padding: 80px 15px;
  background-image: linear-gradient(90deg, rgba(55,55,55,.7), rgba(55,55,55,.99) 50%,rgba(55,55,55,.7) 100%), var(--image);
  background-size: cover;
  background-position: 50% 20%;
}

.secondary {
  --hw: 400;
  background-image: linear-gradient(90deg, rgba(255,255,255,.7), rgba(255,255,255,.99) 50%,rgba(255,255,255,.7) 100%), var(--image);
  background-size: cover;
  background-position: 50% 20%;
  padding: 30px 15px;
}
