.page-title {
  text-align: center;
  align-items: center;
  padding: 15px;
  max-width: 600px;
  --hf: var(--sans);
  --ht: none;
  --tf: var(--sans);
  --ts: 16px;
}

.page-title .secure {
  --ts: small;
  color: var(--gray);
  text-transform: uppercase;
}

.page-title .more-info {
  padding: 0;
}
