{{- $type := .Get "type" }}

<div class="flag dsp">
  <div class="paper"> 
    <div class="top">
      <div></div>
      <a href="https://www.miamiherald.com" class="market-logo" aria-label="Miami Herald">
        <img src="https://www.miamiherald.com/wps/build/images/miamiherald/logo.svg" alt="Miami Herald Logo">
      </a>  
      <div class="flex links">
        <a href="#">800-555-5555</a>
        <a href="#">Contact Us</a>
        <a href="#" class="more-link">Sign Out</a>
      </div>
    </div>

    {{- if eq $type "my-account" }}
    <div class="account-header">
      <div class="package">
        <small>unlimited digital access</small>
        <h1 class="serif">Hi, John Wick</h1>
      </div>
      <div class="nav">
        <a href="#" class="tab active">Profile</a>
        <a href="#" class="tab">Subscription</a>
      </div>
    </div>
    {{- end }}
  </div>
</div> 
