{{- $type := default "default" (.Get "type") }}

{{- if eq $type "default" }}
<div class="{{ .Get "color" }}">
  {{ with .Get "label" -}}
  <div class="label">
    <span class="h5">{{.}}</span>
  </div>
  {{ end -}}
  <div class="dsp-offer">
    {{ with .Inner }} {{.}} {{ else -}}
    <h3 class="h1">Unlimited Digital Access</h3>
    <div class="package">
      <p class="bold">$1.99 FOR ONE MONTH</p>
      <p class="summary">$10.99/MONTH AFTER. CANCEL ANYTIME.</p>
    </div>
    {{ end -}}

    {{ with .Get "button" -}}
    {{ if (fileExists (printf "/static/%s" .)) -}}
    <a class="button" href="#">
      <img src="{{.}}" width="{{ $.Get "button-width" }}">
    </a>
    {{ else -}}
    <a class="button" href="#">{{.}}</a>
    {{ end }}{{ end -}}
  </div>
</div>
{{- end }}

{{- if eq $type "horizontal" }}
<div class="card">
  {{ with .Get "label" -}}
  <div class="label dsp-offer-label">
    <span class="h5">{{.}}</span>
  </div>
  {{ end -}}
  <div class="dsp-offer horizontal">
    <div class="package">
      {{ with .Inner }} {{.}} {{ else -}}
      <h3 class="h1">Unlimited Digital Access</h3>
      <p><b>$90 FOR ONE YEAR |</b> <span class="gray">SAVE OVER 40% COMPARED TO MONTHLY</span></p>
      <ul>
        <li>Unlimited access to our website and our apps</li> 
        <li>Additional content in the eEdition (digital replica of the newspaper)</li>
        <li>Subscriber-only content and exclusive extras</li>
      </ul>
      {{ end -}}
    </div>

    {{ with .Get "button" -}}
    {{ if (fileExists (printf "/static/%s" .)) -}}
    <a class="button" href="#">
      <img src="{{.}}" width="{{ $.Get "button-width" }}">
    </a>
    {{ else -}}
    <a class="button promo-light" href="#">{{.}}</a>
    {{ end }}{{ end -}}
  </div>
</div>
{{- end }}
