<div class="review-order paper">
  <small class="secure">secure transaction <i class="fas fa-lock"></i></small>
  <button type="submit" class="button promo">Place order</button>                    

  <div class="package">
    <div class="flex bold">
      <span>Your Order</span>
      <span>Due Today: $10.99</span>
    </div>
    <p>Unlimited Digital Access <small class="gray block">$10.99 for 1 month, $15.99/month after.</small></p>
    <p class="gray">Get access to everything on Miamiherald.com, our apps, the eEdition, and our stories platforms like Facebook Instant Articles and Google News.</p>
  </div>

  <div class="package">
    <div class="flex bold">
      <span>Account Info</span>
    </div>
    <p>John Wick <span class="block">j.wick@email.com</span></p>
  </div>

  <div class="package">
    <div class="flex bold">
      <span>Payment Method</span>
    </div>
    <p>John Wick <span class="block">****0000 | Exp. 12/23 <i class="fab fa-cc-visa" style="color: #1A1F71;"></i></span></p>
    <a href="#" class="more-link blue">Edit Payment Method</a>
  </div>
</div>
