/**
 * Purple Tuesdays
 *
 * Note: these things are very old and may be dead
 */

 form[id^=bx-form] {
  display: block;
}

.mi-sticky-player {
  --header-transform: none;
}

.mi-sticky-player figcaption {
  line-height: 15px;
  font-size: 14px;
}

.videoIngest .card.read-next {
  display: block;
}

#newsletter-signUpWidget {
  --header-color: var(--black);
  --text-color: var(--black);
  --link-color: #3C4D87;
  --link-hover-color: #5169B8;
}

/*
 * WPS breaks from recommended DOM that need fixing
 *
 * Other notes:
 * + Immersive layout needs to be removed
 * + The opinion banner needs a DOM change in WPS
 */

.card .card {
  --card-padding: 0;
}

figure .img-container figcaption,
.inline-video figcaption {
  padding-top: 10px;
}

/*
 * Fixes related to custom cards
 */
custom-digest {
  padding: var(--digest-padding, var(--space));
  --card-padding: 0;
  --package-padding: var(--space-sm) 0;
}

/*
 * Digests need a cleanup in WPS
 */

.digest .card * {
  order: 2;
}

.digest .card .label {
  order: 1;
  padding-bottom: var(--space-sm);
}

/*
 * Nativo needs altering on their side
 */

.ntv-hp .ntvAdChoicesLink {
  display: contents;
}

.ntv-hp .kicker {
  padding: 4px 6px;
  margin-top: -4px;
}

/*
 * Load more buttons
 */

.button.big.impact.hcentered {
  background-color: var(--impact-color, var(--black));
  color: var(--impact-text-color, var(--white));
}

/*
 * Input and submit button nested under impact
 * impact class needs removed in WPS 
 */

.impact form input {
  background-color: white;
}

.impact form .button {
  color: white;
}

/*
 * Breaking news banner text
 * impact class needs removed in WPS 
 */

.breaking-news-organism.impact a {
  color: inherit;
}

/*
 * Braze notification modal
 * to be integrated into the system
 */

#brzpushpermission {
  --link-color: none;
}

/*
 * Video detail page oddness
 */

.video-detail + .package {
  padding-top: var(--space);
}

/*
 * Viafoura - comments vendor
 */

.viafoura {
  --dark-text-on-default-color: #0F1521;
  font-family: 'Noto Sans', sans-serif;
}

.viafoura .vf3-comments__bottom-action .vf-load-more.vf-label-text button.vf-button.vf-load-more__button.vf-loader-button,.viafoura button.big.button {
  background-color: var(--black);
  color: white;
  font: 700 16px/24px "Noto Sans",sans-serif;
  text-transform: uppercase;
  padding: .4em 1em;
}

.viafoura .vf3-comments__bottom-action .vf-load-more.vf-label-text button.vf-button.vf-load-more__button.vf-loader-button:hover,
.viafoura button.big.button:hover {
  color: white;
}