/**
 * Purple Tuesdays
 *
 * Note: these things are very old and may be dead
 */

 form[id^=bx-form] {
  display: block;
}

.mi-sticky-player {
  --header-transform: none;
}

.mi-sticky-player figcaption {
  line-height: 15px;
  font-size: 14px;
}

.videoIngest .card.read-next {
  display: block;
}

#newsletter-signUpWidget {
  --header-color: var(--black);
  --text-color: var(--black);
  --link-color: #3C4D87;
  --link-hover-color: #5169B8;
}

/*
 * WPS breaks from recommended DOM that need fixing
 *
 * Other notes:
 * + Immersive layout needs to be removed
 * + The opinion banner needs a DOM change in WPS
 */

.card .card {
  --card-padding: 0;
}

figure .img-container figcaption,
.inline-video figcaption {
  padding-top: 10px;
}

/* class needs removed in WPS */
.load-more .impact {
  color: var(--text-color);
  background-color: var(--paper-color);
}

/* class needs removed in WPS */
.digest .label .impact {
  --impact-text-color: var(--darkgray);
}

/*
 * Fixes related to custom cards
 */
custom-digest {
  padding: var(--digest-padding, var(--space));
  --card-padding: 0;
  --package-padding: var(--space-sm) 0;
}

/*
 * Digests need a cleanup in WPS
 */

.digest .card * {
  order: 2;
}

.digest .card .label {
  order: 1;
  padding-bottom: var(--space-sm);
}

/*
 * Nativo needs altering on their side
 */

.ntv-hp .ntvAdChoicesLink {
  display: contents;
}

.ntv-hp .kicker {
  padding: 4px 6px;
  margin-top: -4px;
}

/*
 * Load more buttons
 */

.button.big.impact.hcentered {
  background-color: var(--impact-color, var(--black));
  color: var(--impact-text-color, var(--white));
}

/*
 * Search and Promo buttons
 * impact class needs removed in WPS 
 */

.search-form button,
.swg-promo .button.impact {
  --paper-color: var(--white);
  --text-color: var(--black);
}

/*
 * Input and submit button nested under impact
 * impact class needs removed in WPS 
 */

.impact form input {
  background-color: white;
}

.impact form .button {
  color: white;
}

/*
 * Breaking news banner text
 * impact class needs removed in WPS 
 */

.breaking-news-organism.impact a {
  color: inherit;
}

/*
 * Braze notification modal
 * to be integrated into the system
 */

#brzpushpermission {
  --link-color: none;
}

/*
 * Video detail page oddness
 */

.video-detail + .package {
  padding-top: var(--space);
}

/*
 * Viafoura
 */

.viafoura {
  --dark-text-on-default-color: #0F1521;
  color: #0F1521;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.viafoura p,
.viafoura .all-comments p,
.viafoura p.vf-primary-text,
.viafoura .vf-post-name-button__username,
.viafoura nav.vf-tabbed-nav .vf-nav-label .vf-label-text,
.viafoura .vf-dropdown-button__text {
  font-size: 16px;
}

.viafoura .vf-follow-button__text,
.viafoura .vf-post-name-button__username,
.viafoura h2.vf-subheading-text,
.viafoura time.vf-label {
  font-size: 14px;
}

.viafoura h2.vf-heading-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.viafoura button.vf-follow-button.vf-button[data-v-632eed25] {
  padding: 5px 10px;
}

.viafoura #commentingIntro,
.viafoura .v3-comments__post-form {
  border-top: 1px solid #ECEEF2;
  margin: 20px 0;
  padding-top: 20px;
}

.viafoura #commentingIntro {
  line-height: 26px;
}

.viafoura .vf-tabbed-nav .vf-label-text,
.viafoura .vf-tabbed-nav .vf-nav-tab-button__text[data-v-5517aee9],
.viafoura .vf-dropdown-button__text,
.viafoura .vf-post-name-button__username {
  font-weight: 700;
  text-transform: uppercase;
}

.viafoura .vf-nav-tab-button--inside-dropdown[data-v-5517aee9] {
  align-items: center;
}

.viafoura .vf3-comments__bottom-action .vf-load-more.vf-label-text button.vf-button.vf-load-more__button.vf-loader-button,
.viafoura button.big.button {
  background-color: var(--black);
  color: white;
  font: 700 16px/24px 'Noto Sans', sans-serif;
  text-transform: uppercase;
  padding: .4em 1em;
}

.viafoura .vf3-comments__bottom-action .vf-load-more.vf-label-text button.vf-button.vf-load-more__button.vf-loader-button:hover,
.viafoura button.big.button:hover {
  color: #B0CBFF;
}

.viafoura .vf-secondary-text,
.viafoura .vf-comments-trending-articles[data-v-1e6aff7f] h2.vf-trending-articles__header {
  font-size: 14px;
  font-weight: 400;
}

.viafoura div.vf-post-form__new-content[data-v-45fba7ae] {
  margin-bottom: 20px;
  padding: 0;
}

.viafoura .vf-button.is-size-tiny {
  padding: 5px 10px;
}

.viafoura .vf-content-focus-container--default {
  padding: 5px 0;
}

.viafoura .vf-actions-authentication,
.viafoura .vf-post-form__new-content .vf-content-layout__right::before,
.viafoura .vf-post-form__new-content .vf-content-layout__right::after,
.viafoura .vf-client-settings-button-logout {
  display: none;
}

@media (max-width: 480px) {
  .viafoura header.vf-comment-header[data-v-ddad5b80] {
    align-items: flex-start;
    flex-direction: column;
  }

  .viafoura .vf-comment-header .vf-comment-header__actions {
    align-items: start;
  }
}