/**
 * Purple Tuesdays
 *
 * Note: these things are very old and may be dead
 */

form[id^=bx-form] {
  display: block;
}

.mi-sticky-player {
  --header-transform: none;
}

.mi-sticky-player figcaption {
  line-height: 15px;
  font-size: 14px;
}

.videoIngest .card.read-next {
  display: block;
}

#newsletter-signUpWidget {
  --header-color: var(--black);
  --text-color: var(--black);
  --link-color: #3C4D87;
  --link-hover-color: #5169B8;
}

/*
 * WPS breaks from recommended DOM that need fixing
 *
 * Other notes:
 * + Immersive layout needs to be removed
 * + The opinion banner needs a DOM change in WPS
 */

.card .card {
  --card-padding: 0;
}

figure .img-container figcaption,
.inline-video figcaption {
  padding-top: 10px;
}

/* class needs removed in WPS */
.load-more .impact {
  color: var(--text-color);
  background-color: var(--paper-color);
}

/* class needs removed in WPS */
.digest .label .impact {
  --secondary-text-color: var(--dark-gray);
}

/*
 * Fixes related to custom cards
 */
custom-digest {
  padding: var(--digest-padding, var(--space));
  --card-padding: 0;
  --package-padding: var(--space-sm) 0;
}

/*
 * Digests need a cleanup in WPS
 */

.digest .card * {
  order: 2;
}

.digest .card .label {
  order: 1;
  padding-bottom: var(--space-sm);
}

/*
 * Nativo needs altering on their side
 */

.ntv-hp .ntvAdChoicesLink {
  display: contents;
}

.ntv-hp .kicker {
  padding: 4px 6px;
  margin-top: -4px;
}

/*
 * Load more buttons
 */

.button.big.impact.hcentered {
  background-color: var(--impact-color, var(--black));
  color: var(--impact-text-color, var(--white));
}

/*
 * Search and Promo buttons
 * impact class needs removed in WPS 
 */

.search-form button,
.swg-promo .button.impact {
  --paper-color: var(--white);
  --text-color: var(--black);
}

/*
 * Input and submit button nested under impact
 * impact class needs removed in WPS 
 */

 .impact form input {
    background-color: white;
 }

 .impact form .button {
    color: white;
 }

/*
 * Breaking news banner text
 * impact class needs removed in WPS 
 */

 .breaking-news-organism.impact a {
  color: inherit;
}


/*
 * Braze notification modal
 * to be integrated into the system
 */

 #brzpushpermission {
  --link-color: none;
}

