/**
 * Flag
 */

.flag {
  position: relative;
  grid-template-columns: 1fr 2fr 1fr;
  grid-row-gap: 0;
  align-items: center;
  margin: 0;
  z-index: 10;
}

.flag svg {
  fill: #222;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
}

.flag .market-logo img {
  display: block;
  height: 30px;
  max-width: 100%;
  margin: 0 auto;
}

.flag.homepage .market-logo img {
  height: 38px;
}

.flag .signin {
  position: relative;
  justify-content: flex-end;
  z-index: 3;
}

.flag .signin .button {
  align-self: unset;
}

.flag .signin .expander {
  padding: 15px;
}

.flag .signin .expander::after {
  display: none;
}

/**
 * Account popout
 */

.flag .popout {
  position: absolute;
  top: 100%;
  right: 15px;
  min-width: 210px;
  font-size: 0.875rem;
  box-shadow: 
    0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23);
}

.flag .popout > * {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 30px;
  padding: 15px;
  box-sizing: border-box;
  min-height: 60px;
  align-items: center;
}

.flag .popout a:hover {
  background-color: #ddd;
}

.flag .popout .user {
  min-height: 72px;
  border-bottom: 1px solid #A1A1A1;
}

/**
 * Quick nav for homepage
 */

.flag .quick-nav {
  position: relative;
  grid-column: 1/-1;
  text-align: center;
  font-size: 0.875rem;
  --lc: var(--gray);
  --lhc: var(--dark);
  z-index: 2;
}

.flag .quick-nav a {
  display: inline-block;
  padding: 15px 15px 12px;
  border-bottom: 3px solid transparent;
}

.flag .quick-nav a.active {
  --lc: var(--dark);
  border-color: var(--dark);
}

/**
 * Search form
 */

.flag .search {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 
    0 1px 2px 0 rgba(0, 0, 0, .2);
  display: grid;
  grid-template-columns: minmax(auto, 660px) auto;
  grid-gap: 15px;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity .6s, transform .6s ease;
  z-index: 1;
}

.flag.searching .search {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
