/*
 * Mobile theme
 */

 [data-layout=mobile]:root {
    --font-base: 18px;
    --sans: 'Mukta', sans-serif;
    --text-color: #1F2933;
    --header-color: #1F2933;
    --secondary-text-color: #616E7C;
    --background-color: #EEF1F6;
    --secondary-background-color: var(--white); /* paper color */
    --zone-background-color: var(--white);
    --emphasis: var(--text-color);
    --link-color: #132DAD;
    --more-link-color: #132DAD;
    --paper-shadow: none;
    --paper-color: var(--white);
 }