<figure>
    <div class="lead-item">
        <div class="cnx-lead-wrapper">
            <div style="height: 450px; background-color: var(--gray);"></div>
            <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula sem et congue iaculis. Nam vel nisi elit. Pellentesque habitant morbi tristique senectus et netus.
              <span class="byline">By <a href="#">First Last</a> <span class="credit">Publication name</span>
              </span>
            </figcaption>
        </div>
    </div>
</figure>
