{{ if eq ($.Get "version") "bio" }}

<div class="author-card author-bio package">
  <div class="thumb">
    <div class="initials">AM</div>
    <!-- <img src="/img/aaron_moody.jpg" width="400" height="400" alt="Aaron Moody"> -->
  </div>
  <div class="a-details package">
    <!-- <span class="h6 gray">SPORTS REPORTER</span> -->
    <h3 class="name">Aaron Moody</h3>
  </div>
  <div class="summary">
    <span>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</span>
  </div>
  <div class="a-social package">
    <span class="h6 connect">Connect with Aaron:</span>
    {{ template "shortcodes/social-media.html" }}
  </div>
</div>

{{- else -}}

<div class="story-module">
  <div class="author-card">
    <div class="thumb">
      <div class="initials">AM</div>
      <!-- <img src="/img/aaron_moody.jpg" width="400" height="400" alt="Aaron Moody"> -->
    </div>
    <div class="author-info article-details">
      <a href="mailto:amoody@newsobserver.com">Aaron Moody</a>
      {{ template "shortcodes/social-media-author.html" }}
      <a class="more-link" href="#">Send me a news tip <svg xmlns="http://www.w3.org/2000/svg" width="11" height="9" viewBox="0 0 11 9" fill="none">
        <path d="M10.8536 4.85355C11.0488 4.65829 11.0488 4.34171 10.8536 4.14645L7.67157 0.964467C7.47631 0.769205 7.15973 0.769204 6.96447 0.964467C6.7692 1.15973 6.7692 1.47631 6.96447 1.67157L9.79289 4.5L6.96447 7.32843C6.7692 7.52369 6.7692 7.84027 6.96447 8.03553C7.15973 8.2308 7.47631 8.2308 7.67157 8.03553L10.8536 4.85355ZM0.5 5L10.5 5L10.5 4L0.5 4L0.5 5Z"/>
        </svg></a>
    </div>
    <div class="author-description">
      <span>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</span>
      <a href="#custom-url-from-cue">Support my work with a digital subscription</a>
    </div>
  </div>
</div>

{{- end }}
