{{ if eq ($.Get "version") "bio" }}

<div class="author-card author-bio package">
  <div class="thumb">
    <div class="initials">AM</div>
    <!-- <img src="/img/aaron_moody.jpg" width="400" height="400" alt="Aaron Moody"> -->
  </div>
  <div class="a-details package">
    <!-- <span class="h6 gray">SPORTS REPORTER</span> -->
    <h3 class="name">Aaron Moody</h3>
  </div>
  <div class="summary">
    <span>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</span>
  </div>
  <div class="a-social package">
    <span class="h6 connect">Connect with Aaron:</span>
    {{ template "shortcodes/social-media.html" }}
  </div>
</div>

{{- else -}}

<div class="story-module">
  <div class="author-card package">
    <div class="thumb">
      <div class="initials">AM</div>
      <!-- <img src="/img/aaron_moody.jpg" width="400" height="400" alt="Aaron Moody"> -->
    </div>
    <div class="flex">
      <span class="h6 byline">
        <a href="mailto:amoody@newsobserver.com">Aaron Moody</a>
      </span>
      {{ template "shortcodes/social-media-author.html" }}
    </div>
    <div class="summary package">
      <span>Aaron Moody is a sports and general reporter for the News &amp; Observer. Here is a second sentence for the bio because it will probably be longer than this. Maybe even longer I don't know.</span>
      <a class="h5" href="#custom-url-from-cue">Support my work with a digital subscription</a>
    </div>
  </div>
</div>

{{- end }}
