{{- $class := .Get "class" -}}
{{- $headlineSize := default "h4" (.Get "headline-size") -}}
{{- $taboola := .Get "taboola" }}

{{- .Page.Scratch.Add "cardIndex" 1 }}
{{- $current := int (.Page.Scratch.Get "cardIndex") }}
{{- $story := index .Site.Data.news.items (sub $current 1) }}
{{- $loading := default "lazy" (.Get "loading") }}

{{- with $story }}
<article class="card {{ $class }}" {{- if $taboola }} data-tb-region-item {{- end }}>
    {{- if in $class "lead-item" }}
    <div class="package">
      <h2 class="h3">
        <a class="kicker" href="#" {{- if $taboola }} data-tb-category {{- end }}>{{ .home_section.name }}</a>
      </h2>
      <h3 class="{{ $headlineSize }}">
        <a href="#" {{- if $taboola }} data-tb-link data-tb-title {{- end }}>{{ .title }}</a>
      </h3>
    </div>
    <figure>
      <a href="#" {{- if $taboola }} data-tb-link {{- end }}>
        <img src="/img/kitten.jpg" alt="{{ .lead_media.caption }}" width="1140" height="641" loading="{{ $loading }}">
      </a>
    </figure>
    <div class="package">
      <p class="summary" {{- if $taboola }} data-tb-description {{- end }}>{{ .summary }}</p>
      {{- $pubdate := (time (int .modified_date)).Format "Jan 2, 2006 3:04 PM" }}
      <div class="time" {{- if $taboola }} data-tb-date {{- end }}>{{ if in $class "sponsored" -}} sponsored content {{- else -}} {{ $pubdate }} {{- end }}</div>
    </div>
    {{ else }}
    <figure>
      <a href="#" {{- if $taboola }} data-tb-link {{- end }}>
        <img src="/img/kitten.jpg" alt="{{ .lead_media.caption }}" width="1140" height="641" loading="{{ $loading }}">
      </a>
    </figure>
    <div class="package">
      <h2 class="h6">
        <a class="kicker" href="#" {{- if $taboola }} data-tb-category {{- end }}>{{ .home_section.name }}</a>
      </h2>
      <h3 class="{{ $headlineSize }}">
        <a href="#" {{- if $taboola }} data-tb-link data-tb-title {{- end }}>{{ .title }}</a>
      </h3>
      {{- $pubdate := (time (int .modified_date)).Format "Jan 2, 2006 3:04 PM" }}
      <div class="time" {{- if $taboola }} data-tb-date {{- end }}>{{ if in $class "sponsored" -}} sponsored content {{- else -}} {{ $pubdate }} {{- end }}</div>
    </div>
    {{ end -}}

    
</article>
{{- end }}
