{{- $label := .Get "label" }}
{{- $kicker := default "NEWS" (.Get "kicker") }}
{{- $feed := default "news" (.Get "feed") }}
{{- $region := default false (.Get "region") -}}

<div class="digest">
  <div class="paper" {{- with $region }} data-tb-region="{{ $region }}" {{- end }}>
    <a href="#" class="label {{ $label }}">
      <span class="h3">{{ $kicker }}</span>
    </a>
    {{- with (index .Site.Data $feed).items }}
    {{- range $index, $story := first 5 . }}
    <article class="card" {{- with $region }} data-tb-region-item {{- end }}>
      {{- if and (eq $label "sticky") (eq $index 0) }}
      {{- $img := default "/img/kitten.jpg" (replace .lead_media.thumbnail "FREE" "LANDSCAPE") }}
      <figure>
        <a href="#" {{- with $region }} data-tb-link {{- end }}>
          <img src="{{ $img }}" alt="{{ .lead_media.caption }}" width="1140" height="641" loading="lazy">
        </a>
      </figure>
      {{- end }}
      <div class="package">
        <h2 class="h4"><a href="#" {{- with $region }} data-tb-title data-tb-link {{- end }}>{{ $story.title }}</a></h2>
        {{- if and (eq $label "sticky") (eq $index 0) }}
        <p class="summary">{{ .summary }}</p>
        {{- end }}
        <div class="time">{{ (time (int $story.modified_date)).Format "Jan 2, 2006 3:04 PM" }}</div>
      </div>
    </article>
    {{- end }}{{ end }}
  </div>
  <a href="https://www.kansascity.com/latest-news/" class="more-link" data-tb-category="" data-tb-link="">
    More in {{ $kicker }} <svg xmlns="http://www.w3.org/2000/svg" width="11" height="9" viewBox="0 0 11 9" fill="none">
      <path d="M10.8536 4.85355C11.0488 4.65829 11.0488 4.34171 10.8536 4.14645L7.67157 0.964467C7.47631 0.769205 7.15973 0.769204 6.96447 0.964467C6.7692 1.15973 6.7692 1.47631 6.96447 1.67157L9.79289 4.5L6.96447 7.32843C6.7692 7.52369 6.7692 7.84027 6.96447 8.03553C7.15973 8.2308 7.47631 8.2308 7.67157 8.03553L10.8536 4.85355ZM0.5 5L10.5 5L10.5 4L0.5 4L0.5 5Z"/>
      </svg>
  </a>
</div>
