{{- $label := .Get "label" }}
{{- $kicker := default "NEWS" (.Get "kicker") }}
{{- $feed := default "news" (.Get "feed") }}
{{- $region := default false (.Get "region") -}}

<div class="digest">
  <div class="paper" {{- with $region }} data-tb-region="{{ $region }}" {{- end }}>
    <a href="#" class="label {{ $label }}">
      <span class="h5">{{ $kicker }}</span>
    </a>
    {{- with (index .Site.Data $feed).items }}
    {{- range $index, $story := first 5 . }}
    <article class="card" {{- with $region }} data-tb-region-item {{- end }}>
      {{- if and (eq $label "sticky") (eq $index 0) }}
      {{- $img := default "/img/kitten.jpg" (replace .lead_media.thumbnail "FREE" "LANDSCAPE") }}
      <figure>
        <a href="#" {{- with $region }} data-tb-link {{- end }}>
          <img src="{{ $img }}" alt="{{ .lead_media.caption }}" width="1140" height="641" loading="lazy">
        </a>
      </figure>
      {{- end }}
      <div class="package">
        <h2 class="h3"><a href="#" {{- with $region }} data-tb-title data-tb-link {{- end }}>{{ $story.title }}</a></h2>
        <div class="time">{{ (time (int $story.modified_date)).Format "Jan 2, 2006 3:04 PM" }}</div>
      </div>
    </article>
    {{- end }}{{ end }}
    <a href="https://www.kansascity.com/latest-news/" class="more-link " data-tb-category="" data-tb-link="">
      More in {{ $kicker }}
    </a>
  </div>
</div>
