{{- $class := .Get "class" }}

<header class="header {{$class}}">
  <a class="kicker h6" href="#">Section</a>
  <h1 class="h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus lorem amet.</h1>
  <div class="bio">
    {{- if eq $class "opinion" }}
    <div class="thumb">
      <img src="/img/aaron_moody.jpg" alt="John Doe">
    </div>
    {{- end }}
    <div>
      <div class="byline">By <a href="#">John Doe</a> <span class="credit">Sample Newspaper</span></div>
      <div>
        <time>Updated August 13, 2018 3:19 PM</time>
      </div>
    </div>
  </div>
</header>
