{{- $class := .Get "class" }}
<header class="header {{$class}}">
  <a class="kicker" href="#">Section</a>
  <h1 class="h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus lorem amet.</h1>
  <div class="author-byline">
    {{- if eq $class "opinion" }}
    <div class="thumb">
      <img src="/img/aaron_moody.jpg" alt="John Doe">
    </div>
    {{- end }}
    <span class="author-name">John Doe</span>
    <span class="credit">Sample Newspaper</span>
    <time>Updated August 13, 2018 3:19 PM</time>
  </div>
</header>