{{- $hide := .Get "hide" -}}

<div class="partner-label"><span>In Depth</span></div>
<div class="card horizontal in-depth">
  {{- if not ( in $hide "image" ) }}
  <figure>
    <a href="#">
      <img src="https://www.kansascity.com/public/latest-news/g7it41/picture301348909/alternates/LANDSCAPE_640/plaza2.jpg">
    </a>
  </figure>
  {{- end }}
  <div class="package impact">
    <a class="kicker h6" href="#">Government &amp; Politics</a>
    <h3 class="h1"><a href="#">After meeting Brownback’s circle, firm was on ‘right path’ to $61M no-bid contract</a></h3>
    <p class="summary">Thousands of emails reveal how CGI Technologies landed a $61 million contract to overhaul Kansas tax systems. New Gov. Laura Kelly has promised to crack down on no-bid contracts.</p>
    <div class="time">Jan 2, 2006 3:04 PM</div>
  </div>
</div>
