<div class="related-stories story-module">
  <h5>Related Stories</h5>
  <div class="grid">
    <article class="package">
      <span class="h6"><a class="kicker" href="#">Elections</a></span>
      <h3><a href="#">Sedgwick County adds 1,326 votes to election; counting rules differ in Johnson County</a></h3>
      <time>Aug 13, 2018</time>
    </article>
    <article class="package">
      <span class="h6"><a class="kicker" href="#">Government and Politics</a></span>
      <h3><a href="#">Kobach deputy says unaffiliated voters can’t be counted; Colyer’s office disagrees</a></h3>
      <time>Aug 13, 2018</time>
    </article>
  </div>
  <hr>
</div>
