{{- $type := .Get "type" }}
{{- $label := default "Sports" (.Get "label") }}
{{- $size := default "h1" (.Get "size") }}

{{- if eq $type "empty" }}
<div class="section-nav">
  <h1 class="title {{$size}}">{{ $label }}</h1>
</div>
{{- else }}
<div class="section-nav">
  <h1 class="expander title {{$size}}" onclick="this.classList.toggle('open')">{{ $label }}</h1>
  <div class="slider">
    <div class="row">
      <a href="#">e-Edition</a>
      <a href="#">MORNING SPORTS EDITION</a>
      <a href="#">MLB</a>
      <a href="#">NFL</a>
      <a href="#">NBA</a>
      <a href="#">MLS</a>
      <a href="#">College</a>
      <a href="#">High Schools</a>
      <a href="#">Hockey</a>
      <a href="#">Auto Racing</a>
      <a href="#">Sports Betting</a>
      <a href="#">More Sports</a>
    </div>
  </div>
</div>
{{- end }}
