{{- $type := .Get "type" }}
{{- $label := default "Sports" (.Get "label") }}
{{- $size := default "h1" (.Get "size") }}

{{- if eq $type "empty" }}
<div class="section-nav">
  <h1 class="title {{$size}}">{{ $label }}</h1>
</div>
{{- else }}
<div class="section-nav">
  <h1 class="expander title {{$size}}" onclick="this.classList.toggle('open')">{{ $label }}</h1>
  <div class="icons summary">
    <a href="#">NFL</a>
    <a href="#">MLB</a>
    <a href="#">NBA</a>
    <a href="#">College</a>
  </div>
</div>
{{- end }}
