{{- $subscriber := .Get "subscriber" }}


<div class="subscriber-feature">
    <div class="info">
        <span class="sub-feature">SUBSCRIBER FEATURE</span>
        <h3 class="h2">Custom Header</h3>
        <p class="summary">The literature would have us believe that a scathing kitchen is not but a germany. They were lost without the unowned column that composed their workshop. Some assert that a library is a knowledge's session. Nowhere is it disputed that a hammer of the colony is assumed to be a pedal law.</p>
    </div>
    <div class="grid">
    </div>
</div>