<div class="upper-nav">
  <div class="tab active">
    <a href="#">
      <img class="logo" src="/img/miami-herald-logo.svg" alt="Miami Herald Logo" loding="lazy">
      <img class="favicon" src="/img/miami-herald-favicon.png" alt="Miami Herald Logo" loding="lazy">
    </a>
  </div>
  <div class="tab">
    <a href="#">
      <img class="logo" src="/img/miami.com-logo.svg" alt="Miami.com Logo" loading="lazy">
      <img class="favicon" src="/img/miami.com-favicon.svg" alt="Miami.com Logo" loading="lazy">
    </a>
  </div>
</div>
