{{- $kicker := default "VIDEOS" (.Get "kicker") -}}

<div class="digest">
  <div class="paper">
    <a href="#" class="label">
      <span class="h5">{{ $kicker }}</span>
    </a>
    <div class="package" style="padding-bottom: 0;">
      <p class="summary gray" style="margin: 0;">McClatchy provides these videos in partnership with content providers. McClatchy earns revenue through this relationship.</p>
    </div>
    <article class="package thumb">
      <div class="square-img">
        <img src="/img/kitten.jpg">
      </div>
      <h2 class="h3"><a href="#">Kudlow joins White House that sorely needs cooler heads to prevail</a></h2>
      <time>March 19, 2018 5:34 pm</time>
    </article>
    <article class="package thumb">
      <div class="square-img">
        <img src="/img/kitten.jpg">
      </div>
      <h2 class="h3"><a href="#">The Episcopal Church changed course for our LGBT members</a></h2>
      <time>March 16, 2018 3:42 pm</time>
    </article>
    <article class="package thumb">
      <div class="square-img">
        <img src="/img/kitten.jpg">
      </div>
      <h2 class="h3"><a href="#">The Kansas Republican Party is taking a stance on transgender identity</a></h2>
      <time>March 16, 2018 3:58 pm</time>
    </article>
    <article class="package thumb">
      <div class="square-img">
        <img src="/img/kitten.jpg">
      </div>
      <h2 class="h3"><a href="#">Letters: Readers discuss teen drinking, tax-cut benefits in Missouri and student protests</a></h2>
      <time>March 16, 2018 4:08 pm</time>
    </article>
    <article class="package thumb">
      <div class="square-img">
        <img src="/img/kitten.jpg">
      </div>
      <h2 class="h3"><a href="#">Administration unveils steps to boost racial equity in govt</a></h2>
      <time>March 16, 2018 4:08 pm</time>
    </article>
  </div>
  <a href="#" class="more-link">MORE {{ $kicker }}</a>
</div>
