/**
 * Hompage grid
 */

.home .lead {
  min-height: 400px;
}

@media (min-width: 660px) {
  .home .digest {
    --grid-column: 1;
    --grid-row: span 2;
  }

  .zone {
    --grid-column: 2;
  }
}

@media (min-width: 990px) {
  .zone {
    grid-column: 3;
  }
}
