/**
 * Review Order
 */


.review-order {
  display: grid;
  grid-gap: 30px;
  padding: var(--padding, 15px);
  --ts: 14px;
  --tf: var(--sans);
}

.review-order .package {
  --padding: 0;
  align-items: unset;
}

.review-order .secure {
  text-align: center;
  text-transform: uppercase;
  color: var(--gray);
}

.review-order .flex {
  justify-content: space-between;
  padding: 0 0 10px;
  border-bottom: 1px solid #989898;
  font-size: var(--ts);
}
