.story-body, .story-body ~ * {
  display: none;
}

.spl .card .dsp-offer {
  flex: 1;
  grid-template-rows: 1fr auto auto;
  --ts: 1rem;
}

.spl .card .dsp-offer .h1 {
  display: flex;
  align-items: center;
}

.spl .card .dsp-offer .package {
  justify-content: center;
}

.spl .card .dsp-offer .price {
  --ts: 25px;
}

.spl .paywall-offer {
  align-self: unset;
  grid-template-columns: unset;
  --ts: 1rem;
}

.spl .card .dsp-offer .button {
  --bc: white;
  --bbc: #038E97;
}

.strike {
  text-decoration: line-through;
}
