{{ define "content" -}}
  {{ partial "masthead" . }}

  <!-- the wrapper was added by the front-end team -->
  <div class="server-rendered">
    <article class="story-body paper">
      {{ template "shortcodes/header.html" }}
      {{ template "shortcodes/figure.html" }}

      <span class="dateline">Jefferson City</span>

      <p>On a muggy October morning in 2007, Miami’s top federal prosecutor, Alexander Acosta, had a breakfast appointment with a former colleague, Washington, D.C., attorney Jay Lefkowitz.</p>
      <p>It was an unusual meeting for the then-38-year-old prosecutor, a rising Republican star who had served in several White House posts before being named U.S. attorney in Miami by President George W. Bush.</p>
      <p>Instead of meeting at the prosecutor’s Miami headquarters, the two men — both with professional roots in the prestigious Washington law firm of Kirkland & Ellis — convened at the Marriott in West Palm Beach, about 70 miles away. For Lefkowitz, 44, a U.S. special envoy to North Korea and corporate lawyer, the meeting was critical.</p>
    </article>

    {{ .Content }}
  </div>

  {{ partial "footer" . }}
{{- end }}
